[2013-07-17 20:00] kerrhome opened #1 "Auto-refresh enabled not compatible"
Love the View, but when I enable auto-refresh with release 1.518 and the latest plug-in release, on the first refresh it gives me a 404 failure web page.

I need to have the auto-refresh enabled to keep me logged in (so I don't time out).

[2013-07-21 20:10] #1 closed, assigned to jan-molak

[2013-07-29 00:04] macg33zr opened #2 "Feature request: option to display build name instead of build number"
Thanks for a great plugin - here's an idea for an enhancement. We are using the Build Name Setter Plugin to set the display name for our builds. We would like to be able to display these build names in the monitor view instead of build numbers like '#123'. Our builds of a Jenkins project have names like 'XYZ T123 BLD 456 #57' or maybe shorter like 'X T123/456 #57'. What we have is a build pipeline

[2013-07-30 15:42] marmstr93ng opened #3 "Jobs not displaying and Settings not accessible"
I really like the look of this monitor, however, when I installed it and created it via view it doesn't display any jobs and I can't access the settings at the top right at all. Originally I thought it was something to do with the fact that I am using Firefox, however, when I installed the latest Google Chrome and Opera it still has the same problem. Thanks in advance for your help on this.

[2013-07-30 15:43] marmstr93ng opened #4 "Jobs not displaying and Settings not accessible"
I really like the look of this monitor, however, when I installed it and created it via view it doesn't display any jobs and I can't access the settings at the top right at all. Originally I thought it was something to do with the fact that I am using Firefox, however, when I installed the latest Google Chrome and Opera it still has the same problem. Thanks in advance for your help on this.

[2013-07-30 15:47] marmstr93ng opened #5 "Feature Request:Pipeline Grouping"
Would it possible to include in a future release a setting to group jobs. Within the group the different jobs could pass or fail. This is requested because I am running a specific project which has two regression, a build and a sanity test under it.  It could be possible to have multiple walls with one for each project, however, the team wants to be able to view four at the one time. Thanks in adv

[2013-07-30 15:48] #4 closed, assigned to nobody

[2013-08-03 15:16] #2 closed, assigned to jan-molak

[2013-08-07 10:05] #5 closed, assigned to nobody

[2013-08-08 12:27] beraneck opened #6 "Unable to display the jobs when not authenticated"
Hello !

The build monitor view works perfectly when I'm authenticated.
But It only shows the title and settings button when I'm not authenticated.
On our server, anonymous users can see the jobs on the standard Jenkins UI.

Our configuration :
Jenkins ver. 1.526
Authentication is done by Atlassian Crowd with matrix based access right.

Anonymous users have the following rights :
Global : read
Sla

[2013-08-08 12:50] dmahlow opened #7 "Support for job selection through regex"
Hi,

we are using Jenkins BuildPerBranch (http://entagen.github.io/jenkins-build-per-branch/) to get jobs auto-created when new branches appear in our repositories.

It would be nice to specify a regex in the view configuration, so that jobs with a certain name pattern can always automatically be added (similarly to how some other wall plugins do it).

[2013-08-10 18:04] #7 closed, assigned to jan-molak

[2013-08-13 20:08] #3 closed, assigned to jan-molak

[2013-08-16 11:58] jaranflaath opened #8 "Support environments without access to the Internet"
Hi,

we have our Jenkins server running in an environment without access to the internet. Would it be possible to have a version of the build monitor plugin that does not require internet access, but have all required resources bundled with the plugin?

[2013-08-17 20:57] #8 closed, assigned to jan-molak

[2013-09-11 21:08] leandromoreira opened #12 "Showing only column layout for Firefox"
I'm using:
- Build Monitor View 1.0+build.33
- Firefox 22.0
- MacOS X 10.8.4

Here how it is shown.
![screen shot 2013-09-11 at 18 05 07](https://f.cloud.github.com/assets/55913/1126533/d5b9515e-1b25-11e3-9ee4-5bc3d06ca136.png)

[2013-09-13 19:55] kerrhome opened #13 "Show who's in the queue and what position they are in the queue"
Can you display who has a job in the queue and what position they are in?  So if I kicked off a build and I'm up next then you could say "Shannon - Next" or "Shannon - 1" or whatever you like.  You are creative and we like what you come up with, so I'm sure it will be good. :)  If it is initiated by SCM polling, can you figure out who is responsible for the commit that triggered the build like you

[2013-09-13 20:20] #12 closed, assigned to nobody

[2013-10-07 01:23] jamestelfer opened #15 "Build marked as failed when multiple builds are in progress"
When a build is executing concurrently on different commits, the build is marked as a failure. I believe this is because the code for `JobView.lastResult` only gets the previous result if the build is running; I think it needs to get the status of the previous _completed_ build instead.

This is related to the improvements from #9 I think, but it's still distinct from them.

I'm sorry I haven't at

[2013-10-07 18:02] DapperRodrigo opened #16 "Possibility of insert "build now" in the view"
Could you please inserting the "build now" in the view
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3566416-possibility-of-insert-build-now-in-the-view?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&

[2013-10-09 21:17] #15 closed, assigned to jan-molak

[2013-10-21 19:40] kerrhome opened #18 "calculated time not correct in latest .59 release"
I think the build time is not taking into consideration all activities.  My build times for build X for example are about 1.5 hours, but the build monitor is projecting 1.25.  We do archive logs and process compiler/lint warnings, so maybe these activities aren't being taken into account?

I actually liked the progress bar even though the projected times are more valuable.  It was nice to be able

[2013-10-22 02:10] larrycai opened #19 "support Amber boxes like Radiator view"
in radiator view, if the job is claimed, it will show yellow color, it is very good feature for us to keep focus.

is it possible to add in coming release.

[2013-10-22 08:03] andersbbeck opened #20 "Show time since last build instead of build time"
Hi,
I love this view and are currently using it on a large monitor in our development offices.

For us, the duration of each build is not that important, but I (and my coworkers) would like to monitor the activity on each project. Could it be configurable if the time shown in the right corner should be time elapsed time of build or time since last build?

That would be awesome!

[2013-10-23 08:43] bsingr opened #21 "Keep-alive during Jenkins restart (offline capability)"
Currently, after restarting Jenkins someone needs to reload the monitor manually.

To fix this we could do the monitor reloading in the background via ajax, wrap an iframe around it or apply some other tricks..

[2013-10-23 20:05] ThijsK80 opened #22 "Ordering and display names"
Great work so far, I really appreciate the plugin! I am using the multijob plugin to chain various jobs and I would like to be able to order the jobs manually in the build monitor. I have tried to edit the config.xml and put jobs in a different order, but then it removes some jobs from the monitor instead of reordering them. Is there a way to order jobs manually or do you have intentions to implem

[2013-10-24 20:45] #18 closed, assigned to nobody

[2013-10-30 17:20] benf1977 opened #23 "Not seeing build on iOS Safari"
Hello! Really like this plugin on my Mac's Chrome browser, but when I tried to pull up my monitor on an iPad, I could not see the build I am trying to monitor. It's there on the Jenkins dashboard, but not in your plugin. This could be user error, but I'm at a loss.

[2013-10-30 23:40] ghost opened #24 "Play sound on build failure"
I'm after a way to draw attention to the build monitor on a failed build and playing a sound would seem to do that.  Could this plugin be extended to play a sound on failures - really a duplication of the functionality of the Jenkins Sounds plugin but I cannot figure out how to get that working on the PC the build monitor is running on.

[2013-10-31 10:10] patricematignon opened #25 "Include Last Build Description"
When available, display the last Build Description.
Suggested location: below job name (e.g. above culprits), or next to Build name in the bottom left corner
Suggested font class: same as culprit

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2679258-include-last-build-description?utm_campaign=plugin&utm_content=tracker%2F580790&utm

[2013-10-31 17:58] #23 closed, assigned to jan-molak

[2013-11-04 08:22] dustymoonnight opened #26 "Can not display any jobs if no network."
Hi, I have been used your plugins for a while. Now I want to move my Jenkins to Virtual Machine which doesn't connect the network. And then, all the jobs can not be displayed. I wander why? And what can I do to fix it?
PS: It can display everything except jobs, and also I can add/delete jobs successfully.
![wanqxu cisco com_20131104_162123](https://f.cloud.github.com/assets/3776876/1463357/29eca91

[2013-11-05 10:05] #26 closed, assigned to nobody

[2013-11-06 16:47] rubio opened #27 "After upgrade jenkins to 1.538 the views dont' show the jobs"
Hi, with the latest version of the plugin, after upgrade jenkins from 1.537 to 1.538

The views don't show the configured jobs.

In the configure page, no jobs are selected, but on the config.xml file the jobs appear.

Every time you access to the view on the jenkings log is logged:

[code]

[2013-11-06 17:24] #27 closed, assigned to nobody

[2013-11-10 20:01] #19 closed, assigned to jan-molak

[2013-11-18 12:57] DapperRodrigo opened #29 "Possibility of insert "build now" in the view"
Yes I can

Before, good job man, this amazing viewer, congratulations.

So, I'll send to you in this mail one image to try explain, because I my
jenkins I use a lot jobs, so for me is more simple if i can start the build
direclty in the view.

If could you please create this changes, your view is a functionally
complete

tks in advance
best regards

[2013-11-20 17:36] xpucadad opened #30 "Colorblind Palette?"
I would like to have a color palette that makes it easier (possible?) for color blind folks to see the various details communicated via color in the plugin.

Thanks.

Ken

[2013-12-04 22:50] mightflypig opened #31 "Make the configurable number of columns go up to 8"
Hi @jan-molak

Firstly, thank you for this excellent Jenkins plugin. It is the best looking build monitor plugin I've seen and the easiest to configure and use.

I was wondering if you would consider enhancing the plugin to be able to configure up to 8 columns (up from the 4 currently available)? Our use case is as follows

I work for a test automation team that assists each of our development spr

[2013-12-07 15:19] #31 closed, assigned to jan-molak

[2013-12-09 14:11] fonsecas72 opened #32 "Error page appears too often"
I use raspberry pi with wi-fi net connection to show my Jenkins job status which turn my system kind of slow.
This makes that error page msg to appear too often.

I don't know if this is easy or even possible but maybe you could add a config variable for slow/not stable connections ? (that would wait a little longer or refresh with longer periods of time)

A alternative 'solution' would be to make

[2013-12-09 14:16] fonsecas72 opened #33 "Error message on connection problem should be slightly more invisible"
Maybe this error page could appear in footer or have a little transparency so we can still check on previous job status.

[2013-12-16 18:27] drekbour opened #34 "Support View Job Filters plugin"
With _lots_ of jobs, we want something more dynamic from our wall that lets us filter on failing jobs and building jobs. One of your competitors has a nice "Jobs active this week" type of config that is almost it but is taking too much responsibility itself and falls flat as a most jobs might be "touched" by a release process during some week.

I would really like to nominate any-other-view from t

[2013-12-16 19:08] drekbour opened #35 "Add developer setup instructions in wiki"
I don't do node.js stuff and need a few lines of wiki describing what a random developer needs to set up such that I can execute the build and actually move onto looking at contributing back.

[2013-12-16 23:09] #35 closed, assigned to nobody

[2013-12-16 23:14] #29 closed, assigned to nobody

[2013-12-18 15:47] #21 closed, assigned to nobody

[2013-12-18 15:48] #32 closed, assigned to nobody

[2013-12-19 19:51] ronenpg opened #36 "BUG: Jobs are not saved"
Jenkins Version: 1.539 (on Linux O/S)
Build Monitor Plugin version: 1.2+build.64

Every time we selected some jobs and saved/applied - the monitor is empty (no jobs).
When we clicked on the settings button again, our job selection was not saved.

Thanks...

[2013-12-20 13:13] larsxschneider opened #37 "Idea/Feature Request: Arbitrary job order"
Hi,

thanks for your great plugin. Is there a way to define an arbitrary job order? Right now it is sorted alphabetically.
- Lars
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2858008-idea-feature-request-arbitrary-job-order?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bountie

[2013-12-23 18:51] #33 closed, assigned to nobody

[2013-12-23 18:51] #36 closed, assigned to nobody

[2014-01-11 19:33] #22 closed, assigned to nobody

[2014-01-23 12:20] Halama opened #38 "Possibility to hide board title"
Hi,
it would be nice to be able to hide board title. I think it's a bit unnecessary when I have only one display. It'll be cleaner with more space for jobs.
thanks
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25288141-possibility-to-hide-board-title?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=

[2014-02-17 18:08] drekbour opened #40 "Hide possible culprits on "claimed" builds"
Possibly this should be optional but my gut feeling is that the use for a wallboard is to see what is failing and who to ask about it. Once "claimed", additional names are just visual noise. It seems superfluous to show the list of "possibles" when we have a defined owner.

[2014-02-19 12:14] drekbour opened #41 "Support Build Failure Analyser plugin"
https://wiki.jenkins-ci.org/display/JENKINS/Build+Failure+Analyzer

BFA is a nice plugin to provide a user-created database of reasons why a build has failed. Seems a natural fit for BM to display this

Criteria:
- Display the "name" of any detected Build Failure Indicators
- Multiple indicators must be displayed in the order given by BFA
- TODO ? newline or comma-separated ? What is policy if dis

[2014-02-21 17:18] DapperRodrigo opened #42 "Help"
I would like to change some configurations in buildmonitorview, I take the files and start the work, but i dont know what I simulate in my jenkins, could you help me, tks.

[2014-02-21 17:28] #42 closed, assigned to nobody

[2014-02-22 21:01] #34 closed, assigned to nobody

[2014-02-24 12:56] kerrhome opened #43 "Latest version 1.3 build 70 fails to load"
Upgrading from build 68 to 70 did not work.  It crashes and provides the following:

Instead of an expected response I received the following, which usually means an internal Jenkins error:

{
  "cause": null,
  "localizedMessage": "hudson.model.FreeStyleProject cannot be cast to java.lang.Comparable",
  "message": "hudson.model.FreeStyleProject cannot be cast to java.lang.Comparable",
  "stackTra

[2014-02-25 07:01] larrycai opened #44 "how to group the jobs ?"
How can I group the several jobs in one block ?

I can't figure out by checking the [README.md](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/master/README.md) and the configuration of the view, this is the feature exists in radiator view

[2014-02-25 07:07] larrycai opened #45 "how to group the jobs ?"
How can I group the several jobs in one block ?

I can't figure out by checking the [README.md](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/master/README.md) and the configuration of the view, this is the feature exists in radiator view

[2014-02-25 07:08] #45 closed, assigned to nobody

[2014-02-26 14:55] #43 closed, assigned to nobody

[2014-02-27 18:02] bpedersen2 opened #46 "Wrong crumb field supplied"
I always get the follwoing  error for the build monitor:
<body><h2>HTTP ERROR 403</h2>
<p>Problem accessing /jenkins/$stapler/bound/6c25fe24-b2b8-4ccb-a07b-8b68317513b3/fetchJobViews. Reason:
<pre>    No valid crumb was included in the request</pre></p><hr /><i><small>Powered by Jetty://</small></i><br/>

Analyzing the http-request  a bit, I found that it sends the Crumb in the header: 'Crumb'
oth

[2014-03-01 02:21] trejkaz opened #47 "Option to show result breakdown for matrix builds"
We use matrix builds to run tests and build releases across multiple platforms. Sometimes a build only fails on one platform, making the entire result red.

Although this is certainly the case with Jenkins itself as well, showing the whole build as red when really only a fraction of it failed, doesn't really give a good impression of how stable the build is. The common scenario in our case is that

[2014-03-01 17:19] #46 closed, assigned to nobody

[2014-03-04 09:41] HNygard opened #48 "Exception in fetchJobViews - hudson.model.FreeStyleProject cannot be cast to java.lang.Comparable"
Got the following exception when opening the monitor. Upgraded plugins last week and think it started right after the upgrade. Using "1.3+build.70"

Request URL: http://jenkins/$stapler/bound/5c803e06-ae15-475c-9f0a-b392d96d4782/fetchJobViews

![buildview-exception1](https://f.cloud.github.com/assets/168380/2319635/0572741e-a381-11e3-8ee6-07c3ae9c25f0.PNG)

![buildview-exception](https://f.cloud.g

[2014-03-06 21:30] StuartWhelan opened #50 "Support Cloudbees Folders Plugin"
We want to start using the Cludbees folders plugin, https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Folders+Plugin

We use the build monitor plugin extensively, but on our test jenkins server when I installed the folders plugin, only the folders show up and not the jobs within that folder.

I am happy to implement support for folders, and create a pull request, but want to make sure nobody e

[2014-03-12 15:55] s7726 opened #52 "Periodically receiving 502 error dialogs"
We have the BMV up on a projector and periodically we it give an error 502 dialog that we have to click through. There seems to be no other issues, and clicking through it always results in normal operation until it comes back. We're on a small internal network that we don't notice any network interruptions on.

BMV: 1.3+build.72
Jenkins: 1.554

[2014-03-21 18:43] #48 closed, assigned to nobody

[2014-03-25 16:41] Rylon opened #54 "Customise Build Monitor with URL parameters"
We run this dashboard on a video wall which occasionally resets, to keep the browser stable (refreshing it all day causes the history to fill up and it becomes less stable over time).

Is it possible to pass in, say, the font size you want to use, as a URL parameter?

Thanks!
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2528814

[2014-03-31 14:17] continuitysr opened #55 "Show unstable builds as orange, rather than red"
Hi,

Great plugin, but is it possible to do the above?

Rgds
Steve.

[2014-03-31 16:49] #55 closed, assigned to nobody

[2014-04-05 12:58] #30 closed, assigned to nobody

[2014-04-05 14:28] #52 closed, assigned to nobody

[2014-04-22 11:00] saarea opened #59 "unstable builds"
Would it be possible to show unstable builds as another color? yellow/orange??

[2014-04-22 12:15] #59 closed, assigned to nobody

[2014-05-12 10:23] krothu opened #60 "Maven Multi Module Builds"
We have a large multi module build using the maven reactor and would really like to be able to see the modules broken down into seperate status bars.

Is possible to track which sub-module is being built as its own status bar from the parent, this would especially be helping in a multi module build as we use threading argmuments to build them. It will also allow use to see the final status of each

[2014-05-22 16:25] gordonjb opened #61 "Allow logo instead of header"
It would be great if the header text could be replaced or included with a logo image. This can be done by going into the classes.jar and editing the main.jelly file, but obviously this isn't ideal!

Thanks
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2292852-allow-logo-instead-of-header?utm_campaign=plugin&utm_content=tracker%2

[2014-06-06 17:20] #41 closed, assigned to nobody

[2014-06-07 15:56] #40 closed, assigned to nobody

[2014-06-11 11:54] proseco opened #64 "Color for unstable job is red instead orange"
Hello Jan,
thanks for the nice plugin.
A slight issue: color of unstable jobs has the color of failed jobs (red) always.
tested with Jenkins ver. 1.567 +  Build Monitor View 1.4+build.102
Please fix.
thanks, Stefan

[2014-06-11 14:53] suryagaddipati opened #65 "development environment errors"
I cloned the source and ran `mvn hpi:run` I see the following errors when the app is coming up.

[code]

After the app comes up, I tried creating a Freestyle job and I it errors out with the following error.

[code]

[2014-06-11 16:06] #64 closed, assigned to nobody

[2014-06-11 22:59] #65 closed, assigned to nobody

[2014-06-22 21:54] jan-molak opened #67 "Height of header and footer should be constant"
On large computer screens (2650x1440, 16:9) rotated by 90° header and footer take too much space, which could be minimised to leave more space for the monitored jobs themselves.
Thanks for the feedback @dechols !

[2014-06-29 19:55] #50 closed, assigned to nobody

[2014-07-01 14:30] mnd999 opened #68 "Change colours from Red / Green for colour blind developers"
UI to change colours for builds so that colour blind devs can tell the difference between good and bad builds.

[2014-07-01 14:36] #68 closed, assigned to nobody

[2014-07-14 16:13] jzmodmed opened #69 "Question: Is anyone having an issue with the plugin not working in Chrome?"
It seems like the build monitor is broken in Chrome. The plugin is working with Firefox. Is anyone else experiencing the same issue?

Mac OS 10.10 (Yosemite)
Chrome Version 35.0.1916.153
Build Monitor View: 1.5+build.117

[2014-07-15 13:09] patrickdepinguin opened #70 "Feature request: ability to hide culprits"
The plugin by default shows culprits for failed builds, but this is not always desired.
I could work around this by editing the css manually (display:none) but a configuration option would be nice.

[2014-07-15 13:12] patrickdepinguin opened #71 "Feature request: allow customizing the default settings"
The plugin has a fixed default configuration, and stores user-made changes in a cookie. This works fine when displaying the build monitor view on a controllable display.
However, when displaying it on a system without keyboard/mouse, like a web kiosk, modifying the configuration so it would be stored in the cookie is problematic.
Being able to set the default configuration in absence of a cookie c

[2014-07-15 18:25] #69 closed, assigned to jan-molak

[2014-07-25 15:57] jonathanbrecher opened #74 "Build monitor plugin slow to open config page with lots of jobs"
We have a Jenkins server with ~1,100 jobs. It takes over 50 seconds just to open the config page for any Build Monitor Plugin view. That's far too slow.

Responding to question raised in [JENKINS-23352](https://issues.jenkins-ci.org/browse/JENKINS-23352) (Also, have you considered using the Cloudbees folder plugin to group those ~1,100 jobs?): We're using the Nested View plugin. We reviewed both p

[2014-07-31 10:47] patrickdepinguin opened #76 "Bug: build time duration is wrong"
The build time as shown on the Build monitor plugin does not match with the duration as displayed on the 'trend' page of Jenkins itself (page buildTimeTrend).
So either the plugin is wrong, or Jenkins is wrong (I haven't verified manually).

For example, for three different jobs: (Jenkins - Plugin)
1h46min - 1h15min
1h23min - 1h43min
1h05min - 1h07min

[2014-08-06 07:14] tinu1976ch opened #79 "build-number has incorrect link"
hi there,

me again ;-)

I'm using plugin 1.5+build.119 with Jenkins 1.573

Problem is, that the build-number links to a wrong location!
actually links to: http://localhost:7280/view/Build-Monitor/31fab821-accb-48a6-a93d-b0db1b321907/job/head_rsync/536/
should link to: http://localhost:7280/job/head_rsync/536/

thx for helping me.

Greets from Switzerland
Tinu

[2014-08-12 04:58] nathanaelg opened #82 "No jobs shown"
For some reason the build monitor sometimes displays no jobs at all, even when there are jobs selected in the configuration screen. I haven't been able to determine the cause or what sensitizes this, it appears to fairly consistently display one or two jobs but more than that sometimes it will display them, sometimes it will display nothing.

Looking at the HTTP requests and responses, when it is

[2014-08-12 11:46] warrickhill opened #83 "Display When a Job was last built"
Is it possible to display when jobs were last built rather than how long they look?

[2014-08-12 14:27] derhecht opened #84 "YahooCookie breaks it all"
Because of a JS error message (occurred e.g. in Chrome) in services.js file line 112 (first and after fixed it) and line 109 no job is displayed at all (newest Jenkins and newest plugin version). The YahooCookie variable is not set in both cases, so undefined call (get, set) exception raised. After added "typeof YahooCookie != 'undefined'" around both calls the plugins works again.

Why YahooCooki

[2014-08-12 14:45] #84 closed, assigned to nobody

[2014-08-13 21:23] #76 closed, assigned to nobody

[2014-08-13 21:35] #67 closed, assigned to nobody

[2014-08-13 21:35] #79 closed, assigned to jan-molak

[2014-08-14 00:46] rubdos opened #85 "Feature request: Multi-configuration projects"
Some of my projects are multi-configuration projects. I'm building C++ applications for different platforms and architectures (platforms: android, linux, windows and archs: 32 and 64 bit), excluding nonsense combinations (android 64 bit isn't yet out AFAIK).
I'd love to see the project be split in some ways and see the current matrix-element being build lit up, instead of the whole project at once

[2014-08-14 07:29] shakesoftware opened #86 "Feature request: order by failed, unstable and successful."
Make failed build be in first line, next the unstable builds, and only at the bottom the successful builds.
Group by color when red is up, yellow after, and green down.

Thanks,

[2014-08-18 09:32] jan-molak opened #87 "Margins around jobs should be of a fixed size"
It seems like using a fixed-size margin of say 10-15px [instead of 0.5%](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/master/src/main/webapp/themes/industrial.css#L300) would look better on large displays.

[2014-08-19 00:27] StuartWhelan opened #88 "Allow jobs that have never been built to show as something other than failed"
We would like to be able to add new jobs to our wall displays without them showing up as red.

An option to allow them to show as Green, Grey or Orange would be great.

[2014-08-19 00:30] StuartWhelan opened #89 "Option to hide folder name, and show display name"
We would like to make the displays show to just the name of the job, without a foldername prefix.

Also I have been asked if we can show the display name instead of the job name.

[2014-08-19 10:41] #87 closed, assigned to nobody

[2014-08-19 22:33] #89 closed, assigned to nobody

[2014-08-27 09:01] #82 closed, assigned to nobody

[2014-08-29 18:14] clee-jana opened #90 "Show disabled jobs in grey"
Hi Jan,

Big fan of the build monitor plugin. It would be nice if it showed disabled jobs in grey perhaps?

Thanks,
Chris

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4123742-show-disabled-jobs-in-grey?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2014-09-02 15:46] #83 closed, assigned to nobody

[2014-09-04 09:23] nigjo opened #92 "Add ability to set page title"
The current header line displays the name (and hence the URL) of the view. It would be nice to set a seperate "display Name" so you can have a short and nice URL and a meaningful page title.

[2014-09-13 07:21] vgrigoruk opened #93 "Build Monitor view UI is broken after upgrade to Jenkins 1.579"
![jenkins_build_monitor](https://cloud.githubusercontent.com/assets/487261/4259844/9797ba7a-3b16-11e4-8b3d-01dc1e5cd7a3.png)

[2014-09-13 18:29] #93 closed, assigned to nobody

[2014-09-14 16:57] #88 closed, assigned to nobody

[2014-09-17 16:12] cristover-lopes opened #94 "."

[2014-09-17 17:49] #94 closed, assigned to nobody

[2014-09-26 07:11] an2d opened #97 "Build Monitor view does not show external jobs created using "Monitor an external job""
The Build Monitor view does not show a job that was added using "Monitor an external job" option in Jenkins. Using the Job Filter plugin did not help. You are able to select an external job but it does not show in the Build Monitor dashboard.

It would be nice to have them visible in the dashboard as well.

Version of the plugin: 1.5+build.123
Version of Jenkins: 1.581
OS: OSX

<bountysource-plugi

[2014-10-10 07:40] Brantone opened #98 "Grouping: Support for MultiJob grouping"
Looking at support for MultiJob https://wiki.jenkins-ci.org/display/JENKINS/Multijob+Plugin , wherein parent job is a bigger box encapsulating jobs inside the setup.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5204404-grouping-support-for-multijob-grouping?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_

[2014-10-10 17:23] benoit808 opened #99 "Show tests passed/failed for Jobs executing tests"
The Radiator View plug-in does that but I would love to see it in the Build Monitor plug-in

[2014-10-13 11:15] Bananeweizen opened #100 "Doesn't work with Firefox ESR"
While the page is fine in the current normal Firefox installation, it fails to display anything except the black background when using the current Firefox ESR version (24.8.something): https://www.mozilla.org/en-US/firefox/organizations/faq/

Any chance you can make it work with that version, as it is used in many companies?

[2014-10-15 16:28] fabiofrascella opened #102 "Reporting: Show accumulated time in failed status in a given timespan (e.g. in the last month)"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5303902-reporting-show-accumulated-time-in-failed-status-in-a-given-timespan-e-g-in-the-last-month?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_cont

[2014-10-22 19:50] dt opened #103 "Aborted builds rendered as Failing"
The comment on https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/master/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor/viewmodel/JobView.java#L27 seems to indicate that this was intentional, but, at least in our usage, that is not always the case (someone might abort to get next build to start sooner, for instance). Would be nice to render aborted as gray, as other jenk

[2014-10-24 10:39] oberlies opened #104 "Vertically center job titles in Epiphany Web browser"
In the Epiphany Web browser (which is e.g. included in the Raspian distribution for Raspberry Pis), the job titles are not vertically centered.

This can be easily fixed by changing, in industrial.css
[code]
to
[code]

I can't tell why Epiphany Web - although being Web Kit based - is not rendering the page like other browsers without the changed CSS. But changing the CSS doesn't break the renderin

[2014-11-05 16:50] jan-molak opened #105 "CSS issues with Jenkins 1.587"
Note to self: Build numbers, header and job name links are underlined, links in the footer have incorrect colour, width of the settings icon is 32px while it should be 45px, Done button in settings has incorrect width;

Chrome 35, Windows 7

Needs verification on another OS and a clean Jenkins installation.

[2014-11-06 16:40] zageyiff opened #107 "No jobs displayed in config page"
Hi,

We're having this issue. We just installed the build monitor plugin, but we cannot see a list of jobs to select from in the config page

I was checking at the source code, in the config jelly script, comparing this one with the radiator view plugin, where we see all the jobs in the radiator config page

Radiator uses this:
`<j:forEach var="job" items="${app.items}">`

And Build monitor uses:

[2014-11-07 18:23] #107 closed, assigned to nobody

[2014-11-11 18:46] SergTanchenko opened #108 "Display group of jobs by regexp"
For example, we added jobs using regexp:
(PROD_.*)|(DEV_.*)
It would be nice to have some separator line between those groups

[2014-11-21 10:33] nafmo opened #110 "Build monitor view not embeddable"
I am trying to bembed the build monitor view in another page, but I am unable to as the document is served with a header denying it:

X-Frame-Options: sameorigin

[2014-11-21 11:18] #110 closed, assigned to nobody

[2014-11-26 11:35] kaihowl opened #111 "Show job as claimed if all test cases are claimed"
If a job is unstable, but all test cases have been claimed, display the whole job as claimed. (ENHANCEMENT)

[2014-12-15 18:53] #100 closed, assigned to nobody

[2014-12-19 03:24] Brantone opened #112 "Provide absolute path on link to job"
Currently the the link to the job is relative to the build monitor job ... meaning if you use nested views and the monitor is at http://localhost:8080/view/BuildMonitors/view/CI_Jobs/ then the link takes it to  http://localhost:8080/view/BuildMonitors/view/CI_Jobs/job/Some_Folder/job/Module_Clients/ even though the job itself is actually at http://localhost:8080/job/Some_Folder/job/Module_Clients/

[2014-12-19 21:08] Mercynary opened #113 "Display order by last build time"
IMHO ordering the projects by name or  display name doesn't add much useful information. Wouldn't it be nice e.g. to have an order such as the projects by last build time. A simple additional Comparator such as the sample below would make the job.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7145837-display-order-by-last-b

[2015-01-05 11:34] david-resnick opened #118 "Jenkins header and footer shows on some browsers"
I haven't been able to determine the exact circumstances where this occurs. but since upgrading from 1.594 to 1.596 some machines/browsers show the Jenkins header and footer in the Build Monitor view.

From what I've seen the problem occurs on Chrome and Safari, and looks fine on Firefox.

The screenshot below is of Safari on Mac OS X 10.10.

![build-monitor-bug](https://cloud.githubusercontent.co

[2015-01-05 21:13] #118 closed

[2015-01-05 21:44] jan-molak commented on #118
Hi David and thanks for reporting this. Jenkins UI seems to be undergoing quite significant changes recently and this often breaks the plugins.
I managed to reproduce the issue you mentioned on Safari/Chrome/Firefox and Jenkins core 1.596  and prepared a fix that should alleviate it.

Would you mind grabbing the [latest build](https://smartcode-opensource.ci.cloudbees.com/job/jenkins-build-monitor

[2015-01-06 08:55] david-resnick commented on #118
Hi Jan,

In theory I have no problem testing the latest build, but in practice long running jobs make restarting the server a problem. I can put the hpi in place but I don't know when it will be loaded...

[2015-01-06 14:44] jan-molak commented on #118
Hey David, that's fine, I appreciate your help. Let me know if it works fine for you (it does in my test environment) and I'll roll it out to Jenkins Update Centre.

[2015-01-06 16:42] bernardomaciel commented on #118
Hi Jan,

I have just stumbled on the same issue.
Env: Chrome Version 39.0.2171.71 m on Win 7 64-bit.

With the last release (1.6+build.132), I have the same problem.
With the latest build you linked to above, the problem is solved.

Thanks for the fix!

Bernardo

P.S.: I would upload screenshots, but I am currently not able to :/

[2015-01-07 00:42] Brantone opened #119 "Move settings to config page as default?"
Wondering if it's worth moving the settings to the config page to be utilized as default, while still allowing settings to store cookies and override defaults?

Reason: I've had a few monitors set up, get them all configured to look pretty, then show it on a different computer and the columns/text-size is garbled again.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!

[2015-01-07 00:45] Brantone commented on #113
In some cases, where the monitor has 6+ jobs, having them bounce around by "last build time" would be confusing to have to search for one every time - as opposed to alphabetical and knowing which column/row it's in.
Having an option to do so would be a fair compromise.

[2015-01-07 01:09] Brantone commented on #112
Hmm. Yeah, good point, I was thinking primarily Folder Plugin  ... there are a few instances where a combination of a Nested View, pointing to a Folder, throws a 404 error when hitting the "console" icon.
Will see what I can come up with.

[2015-01-07 07:46] Brantone commented on #119
The implication of this is that `JobView of` function might need bit of retooling for all the parameters:
https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/master/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor/viewmodel/JobView.java#L30

[2015-01-07 08:04] Mercynary commented on #113
It was meant as an additional option.

If there are many jobs that should be monitored, the monitor gets easily "crowded" or the single titles exceed their column. So it would be nice that the jobs are somehow ordered by their status (fail, unstable, stable) or their last build time.

[2015-01-07 08:12] Brantone commented on #113
+1
Ah, gotcha, makes sense.

[2015-01-08 09:09] Brantone commented on #112
Ok, so I seem to have got this working easily enough using http://javadoc.jenkins-ci.org/hudson/model/AbstractItem.html#getAbsoluteUrl()  in my small local setup with both folders + nested views.
However, when deploying to shared Dev it throws in a big hex string between the domain name and URI for absolute URL ... no clue why. Might be another plugin interfering.
Will look further.

[2015-01-08 11:04] jan-molak commented on #119
Yeah, I agree, that's a good idea. There's quite a few things people would like to have configurable, so this would be tremendously useful.
Is this something you'd like to pick up? I'm happy to help out but might not have enough time over the coming weeks to drive it myself.

[2015-01-08 11:23] jan-molak commented on #113
Sounds like a good idea :-) It should be fairly easy to add a new comparator - would you be happy to submit a pull request, @Mercynary?

[2015-01-08 11:51] jan-molak commented on #112
Cool, thanks for the update and good luck! :+1:

[2015-01-08 19:14] Brantone commented on #119
Yup, can do. Just wanted to ensure it fit with your vision before getting too far in code changes.
The tricky part will be the `JobView of` functions and when they instantiate a new JobView and all permutations that it could take, so any ideas or insights would be useful.
Originally I was thinking rather than having a growing list of parameters, to reduce the configs down to simply ` JobView(job,

[2015-01-08 20:23] mfriedenhagen opened #120 "Show last build timestamp"
We use the plugin for monitoring cron jobs run regularly. It would be great if it could show a timestamp for the last build.

[2015-01-08 20:27] mfriedenhagen commented on #120
Duplicates #63

[2015-01-12 15:23] jan-molak commented on #119
A `Config` object should do the trick: `JobView(job, new BuildAugmentor(), RelativeLocation.of(job), Date(), Conifg config)`. I think it would be cleaner than using just a plain `Map` or `List`

You could then have a bunch of getters for all the configuration options:
- `config.numberOfColumns()`
- `config.fontSize()`
- `config.showTestFailures()`, etc.

In unit tests we could use a dummy implemen

[2015-01-14 08:46] haplo31 opened #123 "Where are jobs list of build-monitor dashboard saving ?"
Hello,
I try to create multiple jobs by script and I don't want to have to check them all in my build-monitor config page.
Is there a file I can modify to add my new jobs in my build-monitor dashboard ?
I saw my list of jobs visible in build-monitor dashboard in config.xml file from Jenkins but it doesn't seem to have any effect when I add a job on this list, it doesn't appear on my build-monitor

[2015-01-14 15:02] saan800 commented on #86
This would be a great, having the failing builds at the top would make this plugin even easier to monitor

[2015-01-14 15:19] saan800 opened #124 "Working with 200+ jobs on one screen"
We would like to display the status of 200+ jobs in our build monitor.
I have tried to make the display with the smallest font and most number of columns, but there are still too many jobs to be able to see anything useful.

Build Monitor Plugin seems to try to fit all job panels onto the one screen without scrolling. But its makes it impossible to see anything.

If a "minimum" panel size could be

[2015-01-16 10:36] Mercynary commented on #113
Well I think I'll start with a new comparator in the next days.

[2015-01-22 06:46] arpitgold opened #126 ""Build Monitor" Plugin not compatible with "Build Failure Analysis" Plugin"
Hi Jan,

I am trying to monitor build via build monitor plugin. It was working fine, but when I installed "Build Failure Analyzer" plugin, it is giving error. Please check the below logs for same.
I am using following versions.
Jenkins : 1.597
Build Monitor Plugin : 1.6+build.135
Build Failure Analyzer Plugin : 1.12.1

Error Logs

[code]

![capture](https://cloud.githubusercontent.com/assets/52677

[2015-01-23 12:19] sirkkalap opened #127 "FYI I wrote an automated platform independant build for JBMP using docker / boot2docker"
see: https://github.com/sirkkalap/jenkins-build-monitor-build-wrap
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7981211-fyi-i-wrote-an-automated-platform-independant-build-for-jbmp-using-docker-boot2docker?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-01-24 17:50] jan-molak commented on #123
Hey @haplo31 The configuration is saved in the config.xml file. If I remember correctly, this file is loaded when Jenkins starts up, so won't be reloaded if you change it manually after the startup. I think a restart would be required for your changes to take effect.

Hope this helps!
Jan

[2015-01-24 18:02] jan-molak commented on #127
Haha, thanks @sirkkalap, that's pretty cool :) I need to try it out!

[2015-01-24 18:15] jan-molak commented on #113
Brilliant, looking forward to it, @Mercynary ! :+1:

[2015-01-24 18:20] jan-molak commented on #126
Interesting! Thanks @arpitgold, I'll have a look!

The error message complains about:
[code]
But the class seems to be there in the Build Failure Analyzer:
[com.sonyericsson.jenkins.plugins.bfa.model.FailureCauseBuildAction](https://github.com/jenkinsci/build-failure-analyzer-plugin/blob/master/src/main/java/com/sonyericsson/jenkins/plugins/bfa/model/FailureCauseBuildAction.java)
...

[2015-01-25 13:42] sirkkalap commented on #127
There were some stupid errors in first versions (stdio-redirecting), but
now it seems to work (for me) :)

On Sat, Jan 24, 2015 at 8:02 PM, Jan Molak <notifications@github.com> wrote:

--
Petri Sirkkala, sirpete(ät)iki.fi, Skype: sirpete
+358 44 339 8668 // ...likes Gmail... //

[2015-01-25 14:27] jan-molak commented on #37
@nigjo - ordering by full display name is supported as of [1.6+build.138](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases/tag/v1.6%2Bbuild.138)

[2015-01-26 08:36] haplo31 commented on #123
Hi Jan,
Thanks for your answer, I find the configuration in the config.xml file and I am now able to add jobs by script.
You're right, the file is read on startup but I put a curl call in my job to reload configuration:
curl -X POST http://Username:Password@JenkinsIp:JenkinsPort/reload

[2015-01-26 08:37] #123 closed

[2015-01-26 08:49] jan-molak commented on #123
Cool, glad I could help :)

[2015-01-27 11:41] arpitgold commented on #126
Thanks jan for looking into it.
Please get me involved, if you need any additional information.

[2015-01-27 12:34] ychrysler commented on #90
This would be a handy feature for us too in order to avoid false negatives.
Be happy to help out with coding if someone can point us in the right direction of which classes/scripts need to be modified.

[2015-01-28 13:47] nigjo commented on #37
@jan-molak thanks a lot

[2015-01-30 09:47] legraps opened #130 "Accumulated (worst result) Folder Status"
I have the need to display the status of a dozen Cloudbees folder (one pipeline in each folder) in ONE single monitor view. So it would be nice having one accumulated Box showing the worst result of all jobs inside a Cloudbees Folder (just like the wheather display for a folder).
Optional: Grouping the Jobs of a folder inside a common box (like suggested in the 'Support for MultiJob grouping' feat

[2015-02-03 18:17] lam2558 commented on #30
Is there a way to set the default setting for font size and columns ?

[2015-02-05 22:01] mfriedenhagen commented on #120
This issue somehow is related to #63, however the patch provided in #63 does update the period since the last build every five seconds, which makes the screen look quite busy when you have more than a couple of jobs. IMO it would be sufficient to have a timestamp of the form `YY-MM-DD hh:mm` which should be enough to see when a job has not run for a long while.

[2015-02-06 10:42] bernardomaciel commented on #120
+1

[2015-02-06 11:05] bernardomaciel opened #131 "Last build duration is not correct"
Hi,

Thanks for this great plugin.
I have noticed that last build duration is not being displayed correctly.
Using Jenkins ver. 1.598 (on Win 7 64-bit) with Build Monitor plugin v1.6+build.138 and Chromium Portable Version 39.0.2150.5 (7d466dc36d619ad23f32fabff9fc9bab25fbab58) (64-bit) (on Win 7 64-bit).

Check the screenshots below:

![Jenkins Dashboard](http://s27.postimg.org/i58496rk3/screencap

[2015-02-09 11:40] jan-molak commented on #120
Hey @mfriedenhagen , I'm working on a patch based on #63. I agree with your view that even though the overall implementation proposed in the pull request looks good, it could result in the display looking a bit busy.

What I'm thinking of doing is decreasing the precision over time so that the display doesn't "seem" to be updated more often than it needs to. This would result in something along th

[2015-02-09 16:06] jan-molak commented on #30
@lam2558 - not yet, but that would make an awesome pull request! :) #119 suggests a way this could be implemented.

[2015-02-09 18:00] mfriedenhagen commented on #120
@jan-molak, sound like a good direction. My only concern are updates of the UI every 5 seconds, once a minute for the first hour after a run is OK for me :+1: What about rounding? 1:30h would already be 2h then?

[2015-02-09 20:13] lam2558 commented on #30
Awesome!

[2015-02-09 23:11] #120 closed

[2015-02-09 23:37] jan-molak commented on #120
@mfriedenhagen - I'd love to hear your feedback on the [latest build](https://smartcode-opensource.ci.cloudbees.com/job/jenkins-build-monitor-plugin/140/artifact/target/build-monitor-plugin.hpi)

[2015-02-16 19:39] mfriedenhagen commented on #120
@jan-molak , great visualization :+1:

[2015-02-17 08:52] TathagatSwain opened #132 "Compiling the Code to create .war file on a NO INTERNET ENVIRONMENT"
Hi ,

I have to install Jenkins on a RHEL 6.5 machine and have to do it by compiling the source and the creating the war and then deploying it. Could you please help me as I am new to jenkins and tried to do it but couldnt. I have copied the tar.gz release   and also have maven on the system . But everytime that I try to use the command "mvn clean install -pl war -am -DskipTests" , it gives the fo

[2015-02-18 10:24] janolaveide opened #133 "Order jobs by other than name ?"
It would be nice to be able to sort jobs by the time they ran so that the most recently executed jobs appear first.

[2015-02-20 07:17] TASSDevon commented on #133
I'd like to be given the freedom to order the jobs in any way I want, that be really great as well.

Request++

[2015-02-20 09:11] karisivo commented on #126
Any news about this?
We have same problem with almost same revisions
Jenkins : 1.598
Build Monitor Plugin : 1.6+build.138
Build Failure Analyzer Plugin : 1.12.1

Problems starts after Build Failure Analyzer Plugin was installed. Earlier we had own modifications of BFA plugin, but in some Jenkins update it start printing those failures and we uninstall it. I think we install same time that Build Mo

[2015-02-23 09:54] mildju opened #134 "Display next build execution"
Hi Jan,

I'm also one of the (happy) user of your 'Build Monitor' plugin.  ;-)

May I propose you another enhancement ?

The 'Next Executions' plugin is used in a lot of our Jenkins views.  It simply lists the name of the next scheduled builds and their corresponding start time.  Is it something that could be supported by the Build Monitor plugin ?
For instance, build start time could be displayed

[2015-02-23 11:51] jan-molak commented on #134
Hi @mildju and thanks for your feedback! It's great to hear that you're finding the Build Monitor useful :-)

What you're proposing is a good idea and seems connected to #13. I'd definitely like to see this sort of functionality implemented at some point :)
I'm not sure when I'll be available to do this myself, so pull requests are always welcome!

Best,
Jan

[2015-02-23 12:21] jan-molak commented on #131
Hi @bernardomaciel and thanks for your feedback. I'm happy to hear that you find the Build Monitor useful :-)

The time in the bottom right corner is not the time Jenkins took to complete the last build, but the time it _usually takes_ to complete a build of this particular build job. Please have a look at #76 for further explanation.
Having said that, since you're the second person who found this

[2015-02-23 12:21] #131 closed

[2015-02-23 12:34] jan-molak commented on #132
Hi @TathagatSwain,

[Jenkins CI](http://jenkins-ci.org/) and the [Build Monitor plugin](https://github.com/jan-molak/jenkins-build-monitor-plugin) are two separate projects. Jenkins CI that you're after is maintained by developers  you can contact via the [JenkinsCI-DEV google group](https://groups.google.com/forum/#!forum/jenkinsci-dev).

---

Having said that, it seems to me that the problem you

[2015-02-23 12:34] #132 closed

[2015-02-23 12:37] jan-molak commented on #112
Hi @Brantone, did you have a chance to look into this further?

[2015-02-24 02:27] Brantone commented on #112
It appears has to do with finger-printing of the versioned config.

[2015-02-25 14:48] bernardomaciel commented on #131
OK @jan-molak .
Thanks for clarifying.
Perhaps you could add a tooltip with more info (e.g., with the last release, "Last build time")..

[2015-03-09 11:59] sodper opened #135 "Custom CSS"
I'm missing the ability to specify an url to an override CSS-file. For example, I want to be able to make the build name a bit more visible (larger text, higher contrast color etc.) and it would be awesome if I could specify some CSS rules for these kinds och customization.

Is it possible to include this feature in the road map?

[2015-03-10 06:27] sahlawat1 opened #136 "incompatible with view job filter"
filter includes/applies to ALL jobs configured on Jenkins instead of jobs selected in builtin job filter

[2015-03-10 08:07] sahlawat1 commented on #136
Incorrect usage .. works now

[2015-03-10 08:07] #136 closed

[2015-03-12 19:14] arrygoo commented on #92
I can work on this. I will also try to get a custom Logo on the top instead of the Jenkins logo.

[2015-03-13 15:16] arpitgold commented on #126
Hi Jan, any updates on this ??

[2015-03-19 11:29] sahlawat1 commented on #133
Request++

[2015-03-19 11:47] sahlawat1 opened #137 "Show a custom message on board if no builds to display"
We are using Build Monitor with viewJobFilter to filter ONLY failed jobs and would like a Green background and (positive) msg to flash if there is no builds to fix..

[2015-03-19 13:45] sahlawat1 commented on #137
Or may be I achieve what Radiator Plugin offers.. Show only failed.. if no failed jobs then show all selected

[2015-03-24 12:20] arpitgold commented on #126
Hi Jan, any updates on this ??

[2015-03-24 15:02] jan-molak commented on #126
I'm on holidays with very limited access to the Internet. I'll have a look
into this issue when I'm back in about two weeks.

From the initial investigation I've done it seems that the problem is
caused not by the BFA or the Build Monitor themselves, but by the changes
introduced recently in the Jenkins core (sorry, I don't have their Jira
ticket number at hand).

If you have recently upgraded you

[2015-03-25 06:46] Brantone commented on #119
Would it be worth having BuildAugmentor as part of the Config class object?

[2015-03-26 16:42] antonyj75 opened #138 "Job name not visible when there are a lot of "culprits""
It is no longer possible to see the job name when there are lot of culprits. As a result, it is not clear which job is broken. You will have to click on it and go to the job to see which job it is. This is not a good situation for a big monitor view.
![buildmonitorview](https://cloud.githubusercontent.com/assets/4309910/6851453/746014a0-d3df-11e4-93f4-cbddf92ed2c5.png)

<bountysource-plugin>
---
W

[2015-03-30 10:30] jan-molak commented on #138
Hey @antonyj75 and thanks for your feedback. This request seems similar to what @patrickdepinguin asked for in #70. I'll be looking into addressing the way this information is displayed soon.

In the meantime though, I see that the top four builds from your screenshot haven't run in 10 days. Would it possible for them to be executed more often, therefore limiting the amount of change per build?

B

[2015-03-30 10:36] jan-molak commented on #137
Ha, interesting idea! :-) @sahlawat1 please let me know if you managed to achieve what you were after with viewJobFilters?

[2015-03-30 12:21] patrickdepinguin commented on #138
@jan-molak have you noticed that there is a pull request #116 pending that implements this feature?

[2015-03-30 12:44] jan-molak commented on #138
Yes, I have, thanks for that PR, Patrick! I'm not yet sure though if hiding the culprits alltogether is the best solution to this problem... Let me elaborate a bit more.

It seems to me that the underlying problem here is that the builds are not executed often enough; too many changes git picked up by Jenkins and the list of possible culprits gets long.

From what I have observed this is a common

[2015-03-30 14:01] patrickdepinguin commented on #138
@jan-molak I don't think that the build-monitor plugin should try and dictate such policies onto its users. There may be very good reasons why a team can only run their tests once a day and thus have a long culprit lists. One such reason could be the limited availability of resources, or the long duration of an individual test run in very complex systems.
For this reason, I believe the plugin shou

[2015-03-30 15:14] PezHead commented on #138
@jan-molak Our team runs builds with every code push. This includes jobs for both building our projects as well as running automated functional testing. Even though we run the jobs multiple times per day, we have so much activity in our mercurial repo for automated tests that we still have the problem that the screen is just filled up with the blame list when a job fails.

Having a condensed culpr

[2015-03-30 16:21] antonyj75 commented on #138
@jan-molak <https://github.com/jan-molak>  and others:

Thank you for your email.

Is it possible to provide an option to enable/disable the display of culprits?

We have several jobs that run at code commit.

There are also some performance jobs that we run daily, weekly, and monthly.

We do not want to see the culprit list in these jobs, because as you can see, the list could be large.

Therefor

[2015-03-30 16:34] jan-molak commented on #138
Good points, guys. I really appreciate your comments.

While I completely agree that the issue with job names getting out of view needs to be fixed, I'm wondering if the [Claim plugin](https://github.com/jan-molak/jenkins-build-monitor-plugin#how-do-i-let-my-teammates-know-that-im-fixing-a-broken-build) could help in scenarios you've described above?

Let me think out loud for a moment.

Claiming

[2015-03-31 10:15] antonyj75 commented on #138
Hi Jan,
Good morning.Thank you for your quick response.
Beyond the four scenarios, the source control and claim plugins have their limitations as well.
Some examples are:
- I've seen that the list of culprits is not always correct. This is because, the list of contributors keep changing with multiple runs of the failed job. If you want to see the actual potential culprits, then you need to see the

[2015-04-02 10:41] jan-molak commented on #138
Hi Antony and thanks for pointing those out.

That's an intentional behaviour; The idea here is to avoid people committing code on a broken build.

I see, I thought that this [could be configured](http://wiki.qt.io/Setting-up-Gerrit)?

I usually avoid using the concept of *unstable builds* because of the reasons I talk more about in my article ["The bad case of rotting builds"](http://smartcodeltd

[2015-04-03 16:35] jan-molak commented on #126
**Update:** Recent changes in Jenkins.

It looks like the recent changes in Jenkins did not affect the Build Monitor itself, but they did affect its dependencies, which results in what you guys have observed.

As of Jenkins 1.561 `hudson.matrix` package lives in its own plugin, and version 1.577 kicked out the `hudson.tasks.junit`. Those changes break the Claim plugin unless you install the [JUnit

[2015-04-03 18:01] jan-molak commented on #126
It looks to me that the BFA class in question:
[code]
also depends on the `hudson.matrix` package.

@arpitgold @karisivo, could you please confirm if you have the [Matrix Project plugin](https://wiki.jenkins-ci.org/display/JENKINS/Matrix+Project+Plugin) installed?

Thanks!
Jan

[2015-04-03 18:10] mildju commented on #126
Philippe Lambert will be out of the office starting  03/04/2015 and will be
returning on 13/04/2015.

Hello,

I'm currently out of the office.  Your mail won't be forwarded but I will
respond to your message as soon as I'll be back.

For urgent matters related to the new CmaX GUI, please check with St�phane
Jantzen.
For urgent matters related to the Testing Tool, please check with Pierre
Hoffmann.

[2015-04-05 16:34] #70 closed

[2015-04-06 06:04] sahlawat1 commented on #137
@jan-molak , i have been unsuccessful..started using radiator plugin for initial kick off ..

[2015-04-06 11:53] arpitgold commented on #126
Hi Jan,

I checked both these 3 plugins, they are already installed. There version details are as follows :
Claim plugin : version 2.6
Matrix Project Plugin : version 1.4
JUnit Plugin : version 1.5

Thanks for looking into the issue.
Please let me know if you need more details.

[2015-04-06 12:09] arpitgold commented on #126
Updated version of Claim plugin to 2.6 solved.
T

[2015-04-06 15:52] antonyj75 commented on #138
Thank you Jan for your detailed response, and sharing insights about gerrit configuration and claim plugin.

I will talk to the responsibles in our team to see if this could be done better.

A big thanks for merging #116 as well. J

Have a nice day!

With kind regards,

Antony

Mass production of food is evil.

Foodstuff is best when produced by local farmers.

Want to know why? Watch  <http://doc

[2015-04-07 07:48] nafmo commented on #110
I added -Djenkins.security.FrameOptionsPageDecorator.enabled=false to the command line to work around this. Would be nice to have this as a setting in the UI, though.

[2015-04-07 15:58] antonyj75 commented on #138
Hi Jan,
We updated the plugin and used the "Show possible culprits?" option.Simply put: works like a charm.
Thanks a lot for getting this done so quickly.
With kind regards,Antony

     On Thursday, April 2, 2015 12:41 PM, Jan Molak <notifications@github.com> wrote:

 Hi Antony and thanks for pointing those out.
I've seen that the list of culprits is not always correct. This is because, the list o

[2015-04-08 17:17] kthsieh commented on #103
Request++

In our case, we're having a problem where PhantomJS is periodically crashing when running on our Jenkins server, but runs fine on our laptops.  So passing means we're good, failing means someone broke a test, and aborted just means PhantomJS crashed on Jenkins again.  Would be nice to distinguish the three cases.

[2015-04-21 12:59] RZhou94 opened #140 "Mvn clean package error"
I have an error when i try to do mvn clean package
I am using Windows 8,
With jdk-1.7.0.75
node.js 0.10.38
npm 1.4.28
and maven 3.0.5

[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /D:/AppliesVSCT/DevHome/Project/EclipseWS/jenkins-build-monitor-plugin/s
rc/test/java/com/s

[2015-04-21 15:51] RZhou94 commented on #140
I tried to skip all tests. And jenkins run after this skips,

But i am not sure what is the right solution.

mvn clean package -DskipTests -Dmaven.test.skip=true

[2015-04-22 10:24] RZhou94 opened #141 "Jenkins test java's error"
I have an error on "when(build.getParent()).thenReturn(parent);"
Is this normal?

Error message :
The method thenReturn(capture#3-of ?) in the type OngoingStubbing<capture#3-of ?> is not applicable for the arguments (AbstractProject)

And when i run Junit test, i have 44 Errors. :S

[2015-04-22 17:50] jan-molak commented on #141
Hey @RZhou94, it looks like your environment might not be set up correctly; Did you follow the [development guide](https://github.com/jan-molak/jenkins-build-monitor-plugin/wiki/Development-Guide) ?

[2015-04-22 17:52] jan-molak commented on #140
Hey @RZhou94, no skipping the tests is definitely not a right solution :-) They should all be passing if the environment is correctly set up. I'll close this ticket so we can continue our conversation here: #141 as it seems to be the same problem.

[2015-04-22 17:52] #140 closed

[2015-04-23 08:56] RZhou94 commented on #141
I followed this guide, but i didn't use totally the same configuration.

I had jdk 1.7, and phantomjs 2.0.0. And i have the same for other dependencies.

This look  like run correctly after using jdk 1.6 .D

But i have always 3 test errors, when i run Junit test.

[2015-04-23 09:01] RZhou94 commented on #141
correctly_displays_successful_and_failing_jobs :

java.lang.IllegalStateException: The path to the driver executable must be set by the webdriver.chrome.driver system property; for more information, see http://code.google.com/p/selenium/wiki/ChromeDriver. The latest version can be downloaded from http://chromedriver.storage.googleapis.com/index.html
	at com.google.common.base.Preconditions.checkSt

[2015-04-23 09:04] RZhou94 commented on #141
Maybe this errors are caused by my modification's on code.

I try now with the original code

[2015-04-23 09:18] RZhou94 commented on #141
PhantomJS detected, but wrong version 2.0.0 @ D:\AppliesVSCT\DevHome\App\phantom
js\phantomjs-2.0.0-windows\bin\phantomjs.EXE.
Download already available at C:\Temp\phantomjs\phantomjs-1.9.8-windows.zip
Extracting zip contents

this PhantomJs look like replace automatically

[2015-04-23 09:44] RZhou94 commented on #141
I can run jenkins correctly, but i have always many error when i run all tests with junit 4

[2015-04-23 09:54] jan-molak commented on #141
Browser-based acceptance tests are executed using WebDriver and the Chrome browser by default. In this set up you need to have [chromedriver installed](https://sites.google.com/a/chromium.org/chromedriver/), as per the error you're seeing:

java.lang.IllegalStateException: The path to the driver executable must be set by the webdriver.chrome.driver system property; for more information, see http:/

[2015-04-23 09:58] RZhou94 commented on #141
Thanks you :D.

[2015-04-23 12:09] #141 closed

[2015-04-23 14:30] RZhou94 opened #142 "Failed to clean up temp dirs"
I am using windows 8 to compile this plugin,

And I have an IOException with this plugin of jenkins, version 1.532

java.io.IOException: Failed to clean up temp dirs
	at org.jvnet.hudson.test.TemporaryDirectoryAllocator.dispose(TemporaryDirectoryAllocator.java:86)
	at org.jvnet.hudson.test.TestEnvironment.dispose(TestEnvironment.java:81)
	at org.jvnet.hudson.test.JenkinsRule.after(JenkinsRule.java

[2015-04-23 18:58] valldeck opened #143 "Workflow Jenkins Plugin builds support"
It would be great to provide Workflow Jenkins Plugin builds compatibility.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11892385-workflow-jenkins-plugin-builds-support?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2015-04-24 12:03] jan-molak commented on #141
You're very welcome! :) Happy hacking!

[2015-04-24 12:04] jan-molak commented on #143
Ah, interesting! What functionality would you like to see exactly?

[2015-04-24 13:57] jan-molak commented on #142
It's a bug in Jenkins not in the Build Monitor; If you'd like to develop on Windows 8 you can change your dependency on Jenkins core to 1.579, but the changes should still be verified against Jenkins Core 1.532 as that's the earliest Long Term Support release covering at least 80% of Jenkins installations.

[2015-04-24 13:57] #142 closed

[2015-04-25 09:58] valldeck commented on #143
Overall compatibility. Your plugin provide ability to add workflow jobs to the list, but unfortunately these builds are not visible on diagram.

Workflow plugin authors say: (https://github.com/jenkinsci/workflow-plugin/blob/master/COMPATIBILITY.md): "For architectural reasons, plugins providing various extensions of interest to builds cannot be made automatically compatible with Workflow. Typical

[2015-04-25 18:52] jan-molak commented on #126
Excellent, I'm glad to hear that! Thanks for letting me know! :smiley:

[2015-04-25 18:52] #126 closed

[2015-04-25 18:55] jan-molak commented on #135
Hi @sodper, if you feel that those changes would benefit other members of the community perhaps you could submit a pull request?

[2015-04-25 19:05] jan-molak commented on #133
Hi guys and thanks for your feedback! There's already a ticket raised for that feature - #37

Current version of Build Monitor supports ordering jobs using custom comparators from the [buildmonitor/order](https://github.com/jan-molak/jenkins-build-monitor-plugin/tree/master/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor/order) package.
If you'd like to submit a pull request with mor

[2015-04-25 19:05] #133 closed

[2015-04-25 19:16] jan-molak commented on #124
Hi @saan800 and thanks for your feedback! That is indeed a busy screen! :smiley:

The idea behind Build Monitor is that it should make it easy for one to understand the state of the project just from a quick glance at the screen. Having to scroll pretty much defeats this goal... But again, so does not being able to read the names...

I'm planning to start working on a new version of the UI soon to

[2015-04-25 19:45] jan-molak commented on #119
Hey @Brantone - no preference w/r to the Config's class habitat, maybe just the [top-level package](https://github.com/jan-molak/jenkins-build-monitor-plugin/tree/master/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor) for now and we can move it when there's a need?

Not sure about the BuildAugmentor - it might be easier to have this conversation over code :smiley:

[2015-04-25 19:51] jan-molak commented on #111
Hi @kaihowl, is that still the case with [Claim plugin](https://wiki.jenkins-ci.org/display/JENKINS/Claim+plugin) v2.6?

[2015-04-25 19:53] jan-molak commented on #108
Hi @SergTanchenko and thanks for your feedback.
Would #130 be a cleaner solution to the problem of grouping?

[2015-04-25 19:55] jan-molak commented on #102
Thanks for your feedback, @fabiofrascella. This sounds like a useful thing to have :-)

[2015-04-25 20:10] jan-molak commented on #86
Hi guys and thanks for your feedback! This could be achieved with a custom comparator.
Perhaps you'd like to submit a pull request?

Custom comparators should be fairly straight-forward to add, have a look at #113 and [this commit](https://github.com/jan-molak/jenkins-build-monitor-plugin/commit/d01494c3b776de6b4048a95da580af8eb1e88027).

[2015-04-25 20:13] jan-molak commented on #85
Thanks @patrickdepinguin - let's move this conversation to #62

[2015-04-25 20:13] #85 closed

[2015-04-25 20:14] jan-molak commented on #47
Thanks for your feedback, @trejkaz. Let's move this conversation to #62 as it has proposed code changes.

[2015-04-25 20:16] jan-molak commented on #74
@jonathanbrecher - are you still observing the issue you described in the ticket?

[2015-04-25 20:18] jan-molak commented on #6
Closing the ticket as it seems that the described problem is solved with an upgraded Crowd2 plugin.

[2015-04-25 20:18] #6 closed

[2015-04-25 20:21] jan-molak commented on #20
[1.6 build 140](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases/tag/v1.6%2Bbuild.140) introduced this feature :smiley: Thanks for your feedback guys!

[2015-04-25 20:21] #20 closed

[2015-04-25 20:24] jan-molak commented on #44
#130 describes a potential solution to the problem of grouping

[2015-04-25 20:24] #44 closed

[2015-04-25 20:25] #47 closed

[2015-04-25 20:29] #108 closed

[2015-04-27 01:13] vshah2422 opened #144 "Build Monitor plugin shows error as below"
"\n\n\n\n    \n    <!DOCTYPE html><html><head resURL=\"/static/972290de\">\n    \n\n    <title>Jenkins [Jenkins]</title><link rel=\"stylesheet\" href=\"/static/972290de/css/style.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"/static/972290de/css/color.css\" type=\"text/css\" /><link rel=\"stylesheet\" href=\"/static/972290de/css/responsive-grid.css\" type=\"text/css\" /><link rel=\"sho

[2015-04-27 11:28] jan-molak commented on #144
Hi @vshah2422 and thanks for submitting this report.

In order for me to help you I need a bit more information:
- what version of Build Monitor plugin and Jenkins are you using?
- are you running Jenkins stand-alone or delpoyed to a container (ie. Tomcat)?
- what other Jenkins plugins do you have installed? I'd be interested to know if you're using the Build Failure Analyzer, Claim plugin or the

[2015-04-27 15:03] jonathanbrecher commented on #74
I've moved to a different team since this ticket was opened. I checked with the folks currently in charge of our Jenkins instance(s), and they blacklisted this plugin a while ago. They were unable to uninstall it cleanly, so they blocked all traffic to it via apache/nginx rules upstream. Given that pain, they are not interested in reactivating it to check the current status. Sorry!

[2015-04-27 15:25] jan-molak commented on #74
Sorry to hear that, it sounds a bit dramatic! Hope that the issue is fixed in future versions of the Role Strategy plugin and it scales better :-(
I'll close the ticket as it doesn't seem related to Build Monitor.

[2015-04-27 15:25] #74 closed

[2015-04-27 23:43] vshah2422 commented on #144
Hi Jan,

Please see below answers.

1)      Version for build monitor plugin :- 1.6+build.142

2)      I have installed Jenkins stand-alone and its running from Jenkins.war file with the batch file I have to Open the war file so its like everytime we need to open Jenkins we need to have command prompt open that will run Jenkins.war.  I have that setup from last 3 years.

3)      Yes I have install

[2015-04-28 00:20] vshah2422 commented on #144
Hi Jan,

I found the problem and fixed it as it was not working due to Claim build plugin. So after uninstallation it works . So don’t know if you need to fix it anything from your end or not ?

Viral Shah | Quality Assurance (Automation)

Level 2, 509 St Kilda Road | Melbourne VIC 3004 | Australia

T 61 3 9828 9517 | F 61 3 9820 9258

[facebook-icon]<https://www.facebook.com/WebjetAU>[google-icon

[2015-04-28 08:18] jan-molak commented on #144
Hey Viral and thanks for letting me know.

It's possible that the version of Jenkins you're using broke some APIs that Claim Plugin relies on.
I usually recommend going with Long Term Support (LTS, a.k.a. stable) releases of Jenkins Core rather than the latest build as they tend to cause fewer problems.

Best,
Jan

[2015-04-28 08:18] #144 closed

[2015-04-28 16:58] schwaerz commented on #137
Would be great to have this feature. We have a huge number of jobs - if we would display all of them in the same size the monitor would no longer be able to display the job name.
Currently we're still using the Radiator view plugin. However the build monitor looks promising.
What blocks us currently is that if evereything is green this looks like an error on the build monitor (if the green jobs ar

[2015-05-05 14:26] taylormathewson opened #147 "Feature Request: Support Playing Audio Notifications"
Build Monitor is a great visualization plugin, but it would be great to have audio capabilities as well.

One approach may be to integrate with the Sounds Jenkins plugin.  https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+Sounds+plugin

Thanks for considering this.

[2015-05-05 14:35] kaihowl commented on #111
I cannot comment on this, since we are not using this particular setup anymore. Sorry for not having any useful input.

[2015-05-05 15:02] jan-molak commented on #111
OK, no worries. This seems to be fixed with Claim plugin version 2.6. If you experience this issue again please feel free to re-open the ticket!

[2015-05-05 15:02] #111 closed

[2015-05-05 15:09] jan-molak commented on #147
Thanks for your feedback, @taylormathewson. I like the idea :smiley:
In fact it's already been requested here: #24

I'll close this ticket, but please feel free to comment on #24. I haven't considered using [Jenkins Sounds Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+Sounds+plugin) as my understanding of it was that it only supported server-side sounds (which is not particularly use

[2015-05-05 15:09] #147 closed

[2015-05-05 18:02] taylormathewson commented on #147
Ugh, I really did try searching.  Thanks for replying, I'll comment there.

[2015-05-05 18:04] taylormathewson commented on #24
There's a plugin https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+Sounds+plugin that supports playing sounds on webpages, might be easier to integrate that.

[2015-05-05 18:31] jan-molak commented on #147
No worries, thanks for posting the comment :)

[2015-05-21 12:38] sanga commented on #99
+1. Would be cool to have this

[2015-05-21 14:03] patrickdepinguin commented on #99
Actually, I think this has been covered with my changes in the Build Failure Analyzer plugin. If you install that plugin, and enable JUnit parsing in its configuration, then failed test cases will be shown on the Build Monitor automatically.
So I actually think this issue can be closed. Maybe the Build Monitor documentation can explicitly mention this feature.

[2015-05-26 11:48] Tallmaris opened #149 "Change font size does not seem to work in IE."
I am dragging the slider but nothing happens in IE.

[2015-05-26 12:12] jan-molak commented on #149
Hello there! A bit more context would be extremely helpful :)
What are the versions of:
- IE
- Build Monitor
- Jenkins

you're using, please?

[2015-05-26 13:18] Tallmaris commented on #149
Hi there,

Jenkins is ver. 1.549
The plugin is 1.6+build.142
IE is 11 (v. 11.0.9600.17728)

[2015-05-29 14:42] marc-guenther opened #150 "connection error message popup is modal, and stops automatic refresh"
We are using this for one day now, and every couple of hours, it pops up this error message:
## Sorry to bother you, but there is a slight issue ...
    Jenkins returned a "502" response causing the last request to fail.
    This usually means a network connection problem or that Jenkins is being restarted.
    Don't worry, reloading the page should help :-)

This then stays there forever.

Needle

[2015-05-31 15:48] jan-molak commented on #150
Hi @marc-guenther and thanks for your feedback.

It might be interesting to find out *why* is your server is returning a `502 Bad Gateway` every couple of hours - perhaps there's a problem with a HTTP proxy you have in front of it? I'd imagine that the behaviour of a correct Jenkins installation should be that it doesn't do that :-)
Another thing is that when a Jenkins server is restarted it retur

[2015-05-31 15:52] jan-molak commented on #149
Thanks @Tallmaris, I'l have a look.
By the way, did you notice any errors in the [IE11 JavaScript console](https://msdn.microsoft.com/en-us/library/bg182326(v=vs.85).aspx) ?

[2015-05-31 16:42] Tallmaris commented on #149
Hi Jan,

I will double check tomorrow when I'm at work but I don't remember noticing anything out of the ordinary.
L.

[2015-06-01 08:28] marc-guenther commented on #150
Hi, thanks for your quick reply.

So, about the 502, I have no idea so far, it happens very sporadically. But I tried to simple shutdown Jenkins, and then when I access it, I get a 503 in the browser, not a 404. We are running a simple apache in front of Jenkins, which I think is a common setup.

So I think it might make sense to add the 503 (and possibly the 502?) to the switch case statement you

[2015-06-01 09:02] jan-molak commented on #149
Hey @Tallmaris - it looks like you're correct - the slider responsible for changing the size of the font doesn't work in IE11 on Windows; The second one doing the columns works correctly though.
Thanks for reporting the issue!

Can you use any alternative browser while I'm working on getting this resolved?

[2015-06-01 09:43] Tallmaris commented on #149
Oh yes absolutely. :)

On Mon, 1 Jun 2015 at 10:03 Jan Molak <notifications@github.com> wrote:

[2015-06-01 10:45] jan-molak commented on #149
Cool :-) I need to get this slider component replaced as it's holding back upgrading to a newer version of Angular anyway.

[2015-06-01 11:00] jan-molak commented on #150
Hey Marc,

Glad you like the docs and thanks for your kind words :-)

---

Here's a bit of a background on why I'm reloading the page without a delay.

Jenkins uses [Stapler](http://stapler.kohsuke.org/), which is [Kohsuke](http://kohsuke.org/)'s "http request handling engine".
In order to get the AJAX communication between the UI and Jenkins/Stapler working, Build Monitor needs to acquire a "requ

[2015-06-01 11:31] patrickdepinguin opened #151 "Build monitor needs 30+ seconds to refresh"
I've been using the Build Monitor for a while now, but lately it has become very very slow. The initial page load, and every refresh cycle, takes more than 30 seconds. On this monitor, there are only 11 jobs visible. The slow loading even happens when no jobs are being built.

I tried restarting Jenkins, to no avail.
This is using Build Monitor 1.6+build.142 (latest as of this writing).

The time

[2015-06-01 15:55] jan-molak commented on #151
Hey @patrickdepinguin, it's good to hear from you again!

This sounds very strange as there haven't been any changes to the UI that could affect the performance in a negative way.

How's the performance of other Jenkins pages? List views for example? It's been reported (#74) that some security plugins can significantly affect the performance of Jenkins. Have you installed any of those by any chanc

[2015-06-02 10:11] patrickdepinguin commented on #151
Hi @jan-molak,
The performance of other pages in Jenkins is good, including for example the 'All' list view (say, 1 second load time). Just before filing this issue, I was on build132 and the behavior was already slow at that point.
Regarding plugins, we don't have the Role Strategy plugin mentioned in #74 installed.

However, I played a little more with a test Build Monitor view, and now conclude

[2015-06-02 17:06] marc-guenther commented on #150
Re: my reload comment

I was confused there. I meant, you should not reload the page, while Jenkins is down (connection refused, or 503). Of course, when you get an 404, then Jenkins is up, and your behaviour then is completely correct.
----
Regarding the 503, if you simply reload in that case, the browser will show the 503 error message forever, and never recover. So that should be handled throug

[2015-06-03 08:49] jan-molak commented on #150
Yes, it makes perfect sense :) And I agree, 503 should be handled by ajax as a connection failure.
Would you like to submit this change if it works in your setup?

[2015-06-03 13:38] drekbour commented on #60
@jan-molak, Can I take a run at this one? I'll take a look at the un-merged code for #62 (matrix builds) for inspriation but it will take a few months for me.

[2015-06-03 13:45] drekbour opened #152 "Support M2 Release Plugin"
http://wiki.jenkins-ci.org/display/JENKINS/M2+Release+Plugin

Would be nice to somehow reflect a release build vs a normal one. In a busy ecosystem this provides a little more clarity.

Given the increasingly complex visual rules I will propose to use some CSS border property change to represent a release build. There are probably hundreds of other options though. I also started thinking about bui

[2015-06-04 18:12] #86 closed

[2015-06-04 18:27] jan-molak commented on #60
@drekbour - of course you can! Thanks for offering your help :smile:

[2015-06-05 19:40] #149 closed

[2015-06-05 19:55] jan-molak commented on #150
@marc-guenther - please have a look at [this comment](https://github.com/jan-molak/jenkins-build-monitor-plugin/issues/52#issuecomment-41083921).

About a year ago @awlunsfo ran into a similar trouble with the server periodically returning a `502`, which turned out to be a problem with the proxy configuration.

[2015-06-05 21:26] jan-molak commented on #99
@patrickdepinguin - documentation updated as per your comment: https://github.com/jan-molak/jenkins-build-monitor-plugin/wiki/FAQ

Thanks!

[2015-06-05 22:18] #99 closed

[2015-06-05 22:18] #150 closed

[2015-06-08 11:09] pmapkiranch opened #154 "Sorry to bother you, but Jenkins is having a problem :-("
Hello I am getting this error when I click on Build Status tab after upgrading to Jenkins Version 1.616

Instead of an expected response I received the following, which usually means an internal Jenkins error:

"\n\n\n\n    \n    <!DOCTYPE html><html><head resURL=\"/static/34b19185\">\n    \n\n    <title>Jenkins [Jenkins]</title><link rel=\"stylesheet\" type=\"text/css\" href=\"/static/34b19185/cs

[2015-06-08 16:15] jan-molak commented on #154
Hello there and thanks for reporting the issue.

The error you're seeing looks like a bug in Jenkins, or one of the plugins Build Monitor relies on.
A similar (or maybe same?) issue has been raised on the Jenkins bug tracking system already as [JENKINS-28102](https://issues.jenkins-ci.org/browse/JENKINS-28102).
@daniel-beck is asking there for more information on the error you should be able to se

[2015-06-12 15:03] drekbour commented on #124
Hi, we have 200+ projects too. I made some changes to JBMP to allow dynamic filters inherited from the Jenkins ListView that backs it.
We now only display running or failed jobs - an empty screen is good news. Here's the config
![image](https://cloud.githubusercontent.com/assets/2863082/8132853/71d36a32-111c-11e5-8c19-3cc8e587fcf2.png)

[2015-06-12 15:05] drekbour commented on #124
Oh and I submitted a PR #57 to hide the header and footer. It has yet to be integrated but does a good job of reclaiming some vital pixels

[2015-06-12 15:06] saan800 commented on #124
Excellent - that will work nicely

[2015-06-12 15:44] drekbour commented on #60
Initial thoughts - there are several usecases here so I will implement multiple implementations of support

"Display Maven modules" : [Hide|InPlace|Expanded]

*Hide*
Today's default behaviour. With a bit of bedding-in InPlace could be the default in future.

*InPlace*
Multi-modules for code-seperation reasons (core/ui/installer/etc). These probably shouldn't be expanded as it is only the success o

[2015-06-14 12:04] drekbour commented on #151
If it's repeatable (every load and not just the first when something has changed) then it's not SCM lookups as those are cached. Have you changed your authentication setup? Jenkins' getCulprits calls User.get(id) for each culprit each time. While I'd hope that's quick, I have no idea what it does under the covers.

[2015-06-14 16:20] marc-guenther commented on #150
@jan-molak - thanks a lot. That hint about the 502 solved that problem, and your commit above fixed the 503 problem on restart.

Marc :)

[2015-06-15 09:47] jan-molak commented on #150
Awesome, thanks for letting me know! Glad it helped :smiley:

[2015-06-15 14:30] patrickdepinguin commented on #151
There are only a very limited (<10) number of real users on this instance. Triggered by your response, I checked the amount of users in 'People', which is about 550. These users are collected from SCM data.
I tried deleting them in batch to verify if that is related, but did not succeed. Do you know how to delete these automatically deleted users?
Could this be related?

[2015-06-16 08:25] krothu commented on #60
Would your solution be able to handle several of the modules being built at the same? We are using the Jenkins threading options to help to keep the build times down. Setting our Jenkins build "Goals and options" for our parent pom to "-T2 clean deploy --fail-at-end".

Just to let you know currently our multi maven parent pom has about 42 modules (we have never really tried going above -T4), and t

[2015-06-17 06:52] drekbour commented on #60
"Expand" appears to work just fine with threading and FAE.
"InPlace" clearly has some issues here so I'll just take an opinionated decision on what it should display and if the community doesn't like it - this can be changed in future.
  In the case of multiple runners or failures, the active/failed module shown will be the one that would have stopped the build if it were not using threads and/or

[2015-06-17 06:54] drekbour commented on #60
PS. Read through #124 and #57 if working with large numbers of jobs

[2015-06-17 18:27] morgan-graybill opened #155 "Compatability with Cloudbees folder plugin"
Hi there,
We use your build monitor plugin and love it, but we're having issues with downstream compatibility with the folders plugin.
What we would like to do is create a folder which contains a bunch of build monitors, so that they do not clutter our project's top level view. However, once we are in the folder and go to create a build monitor, we do not see any of our jobs and cannot write a reg

[2015-06-18 15:13] sandrozbinden opened #156 "Ideas"
Integrate Jenkins Avatar Plugin to show  Culprits and Claimer.

[2015-06-20 22:30] drekbour commented on #119
I'd take one thing at a time.
PR1 A shared Config object passed into the *Views would make a bunch of things easier.
PR2 Allowing common config to be overlayed by cookie config is a neat idea too.
PR3? BuildAugmentor is another thing entirely.

I need PR1 so will add that and then use as part of #60

[2015-06-21 12:10] drekbour commented on #60
@jan-molak For InPlace mode described here, I want to add a "subtitle" to the job which, in this case - shows the active Maven module during a build and the failed module when appropriate. Browsing though the many other issues and PRs I see people wanting similar "compound jobs" for other Jenkins features: dynamic (sub) title, nested lozenges or lozenges somehow structured together.

What is your

[2015-06-22 15:33] jan-molak commented on #60
@drekbour - yeah, I can certainly see the need for "higher-order jobs". I'm not sure what the answer should be though yet..

Let me think out loud for a moment :-)

It seems to me that the problem is worth splitting into two smaller ones:
* What the job is?
* How the job is represented/visualised?

So far it looks like each type of a higher-order job could require a different visualisation:
* a Cl

[2015-06-22 17:39] drekbour commented on #60
It's a complicated space. I'll add some more.
* Parallel builds of "simple" jobs.
* Matrix builds do not mean 2 dimensional. You can have 1 to N dimensions.
* A pipeline (never used this plugin but am guessing) can have artifact A at stage 3 and artifact B at stage 1. Hence it quickly can look like a 2D matrix.
* All of these can be combined arbitrarily E.g. a matrix build of a multi-module projec

[2015-06-24 20:05] jan-molak commented on #154
@pmapkiranch, I'll close this ticket for now as it seems more Jenkins- than Build Monitor-related.
Please feel free to re-open it if that's not the case.

[2015-06-24 20:05] #154 closed

[2015-06-24 20:20] #104 closed

[2015-06-24 20:20] #105 closed

[2015-06-25 06:52] Brantone commented on #119
@drekbour Thanks for taking a crack at this, other plugins have hijacked my focus :( I still have some uncommitted code that will be great to make use of this. :+1:

[2015-06-28 19:53] jan-molak opened #158 "Ordering by status doesn't work for projects with no build history"
The [ByStatus](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/e5c330da5274e0be037f9d51fd01f723bff818e6/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor/order/ByStatus.java#L11-L12) comparator makes an assumption that both projects being compared have a build history, which is not the case with newly created projects.

Using `ByStatus` comparator with those projects res

[2015-06-28 20:16] #158 closed

[2015-06-29 16:38] jan-molak commented on #155
Hi Morgan and thanks for your kind words! I'm glad that you find this little plugin useful :smile:

The functionality you're thinking of is not (yet) available.
I'll be looking into making Build Monitor support Cloudbees Folder more fully as part of #130, and there's a good chance that I'll be able to work on your requirement as well (of course pull requests are also very welcome!).

In the meanti

[2015-07-01 07:22] ciaranmccarthy opened #159 "Sounds not played in Build Monitor tab"
When displaying the Build Monitor Plugin in a tab in a web browser, sounds played using the Jenkins Sounds plugin aren't played in the Build Monitor Plugin tab.

Sounds were played when using the previous version of the Build Monitor Plugin (1.6+build.149).

Version information:
Build Monitor Plugin 1.6+build.150
Jenkins Sounds plugin 0.4.3 (https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+Soun

[2015-07-01 10:06] jan-molak commented on #159
Thanks for reporting this, I'll have a look.
I wasn't aware that Build Monitor is being used with the Sounds plugin.
Sounds like a cool combo! (no pun intended ;) )

[2015-07-09 11:47] lhahne opened #161 "If Jenkins is down, try refreshing automatically until it works"
We are currently running unattended radiators. Whenever a Jenkins server goes down, build monitor displays a message that connection has been lost and instructs you to refresh the page, and then we need to manually refresh it once Jenkins is back up. It would be a lot nicer, if build monitor would poll Jenkins every 30 s or so and detect when it is back up and recover automatically.

<bountysource

[2015-07-09 12:59] patrickdepinguin commented on #151
Looking at the code, I see that getCulprits() is called twice: once in shouldIndicateCulprits, and a second time to show the culprits from the Jelly code.
To solve my issue, I think it should never be called, for example by making sure that the 'Show culprits' is not simply switching a CSS .display setting.

public boolean shouldIndicateCulprits() {
    return ! isClaimed() && culprits().size() >

[2015-07-10 08:07] ciaranmccarthy commented on #159
Magic, thanks for having a look. Yeah, the screen and the sounds are really useful. Apart from when the boss comes in and asks why nearly everything is red. :D

The team here at beyontics say thanks for your excellent plugin! Especially our boss.

[2015-07-12 18:52] drekbour commented on #16
I have BM on a separate screen and often have to click through to investigate or re-run a broken build. I'm still not _sure_ if I want this feature.
* If using BFA plugin, it's the "indications" I'd open not the unformatted console output
* If using parameterised builds, that Build button actually opens another page rather than kicking off a build.
* When investigating broken builds I often want t

[2015-07-22 10:30] mk-stp commented on #161
We have an issue that is somewhat connected. Once in a while we get 504 in response to ajax request and it makes the plugin stop refreshing. Exception shouldn't prevent the next refresh event.

[2015-07-22 14:16] manurFR commented on #30
Thanks a lot for this !

[2015-07-22 19:49] jan-molak commented on #30
@manurFR - no worries, hope it helps! I wasn't sure if this set of patterns/colours makes sense for the colour-blind so feedback is much appreciated!

[2015-07-22 19:58] jan-molak commented on #161
@mk-stp it seems like a problem with a http proxy you might have in front of Jenkins? Perhaps #150 could be useful as @marc-guenther and I had a good conversation about proxies there.

@lhahne That's a good point, #150 suggests how error handling could be enhanced to cater for this scenario. If you have the time to submit a pull request it would be awesome :) If not I'll add this ticket to [the ba

[2015-07-24 01:28] benoit808 opened #162 "Show failed tests count / total tests count for test jobs"

[2015-07-27 11:43] jan-molak commented on #162
Hi @benoit808 - to see the number of failing tests please install the Build Failure Analyzer plugin as per the [FAQ](https://github.com/jan-molak/jenkins-build-monitor-plugin/wiki/FAQ#how-do-i-know-what-tests-failed-the-build) (and ticket #99)

[2015-07-27 11:43] #162 closed

[2015-07-27 11:46] jan-molak opened #163 "Shorten the readme and move documentation to the github wiki"
The `readme` file has grown to a point when it makes sense to break it down into smaller chunks and migrate the content to the [wiki](https://github.com/jan-molak/jenkins-build-monitor-plugin/wiki)

[2015-07-27 20:20] benoit808 commented on #162
Wow, shame on me for missing it in the FAQ and most of all for forgetting that I already brought this up and got a response for it.

Thank you for pointing out the solution

[2015-07-27 20:40] benoit808 commented on #99
@jan-molak This solution doesn't seem to work for me and I am not sure if this is due to a change to the Build Analyzer plugin or misconfiguration on my side.
I installed the plugin and went to Manage Jenkins > Configure Jenkins and then looked under "Build failure analyzer" and there is no option to "Enable JUnit parsing"

[2015-07-27 20:42] patrickdepinguin commented on #99
Which version of build failure analyzer did you install?

[2015-07-27 22:28] benoit808 commented on #99
I have version 1.13.0 for Build failure analyzer

[2015-07-28 08:02] patrickdepinguin commented on #99
The exact wording of the option is: "Treat failed test cases (as indicated by JUnit/xUnit/... publishers) as failure causes.", it is right below 'Concurrent scans' in version 1.13.0. I'm using the same version of Build Failure Analyzer with that feature enabled, without issue.

[2015-07-28 09:42] jan-molak commented on #162
No worries; what this shows is that the docs should be improved further so that they're easier to find :)

[2015-07-28 17:27] zats commented on #103
I would back this issue, too, `aborted` is not necessarily as critical for all the teams.
I would probably add it to the options, but definitely mark it with a different class in HTML.

[2015-07-29 11:33] patrickdepinguin commented on #151
Hi @jan-molak, I thought "Let's fix this" but soon bumped into endless Java/Jenkins hell which I know almost nothing about. Finally I gave up and just deleted all culprit related code and tests. With this black build I get almost instant response when loading the monitor.

Obviously this is not upstreamable, but I hope that you can help in implementing the real solution. What I wanted to do was cr

[2015-07-29 13:56] jan-molak commented on #151
It should be easier to achieve with @drekbour's Config class introduced recently (#157). I'll try to give you some examples over the next couple of days (probably the weekend).

[2015-07-29 14:12] patrickdepinguin commented on #151
I pulled today so already have these changes in my repository. I did indeed add some code in that Config class, but still failed.
I find many parts of Jenkins development to be ill-documented; for example how to add a checkbox in a Jelly file and which corresponding handling code is necessary. The 'documentation' that I can find is either too generic without giving the precise details, or too spec

[2015-08-04 08:21] davidparsson commented on #135
Wouldn't it be better to allow input of CSS/Less right into the Jenkins UI? If given an option to specify a URL, the CSS file must be hosted somewhere else, and that introduces more complexity than needed.

[2015-08-05 19:54] #92 closed

[2015-08-05 21:36] #24 closed

[2015-08-05 21:36] #159 closed

[2015-08-05 21:46] jan-molak commented on #159
@ciaranmccarthy - Thanks, your kind words are much appreciated :)

I'm happy to announce that as of [v1.6+build.154](https://smartcode-opensource.ci.cloudbees.com/job/jenkins-build-monitor-plugin/154/) you and your team at beyontics no longer have to live in silence and may enjoy the "loud obnoxious 'buzz'" again!

Although I do wish you and your boss that you don't have to hear that sound too oft

[2015-08-06 08:53] davidparsson opened #164 "Option to show the committer of a build in progress"
In large organizations or on Jenkins instances with build queues, it would be nice to have an option to show the committers of builds in progress, just like possible culprits is shown today.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25431298-option-to-show-the-committer-of-a-build-in-progress?utm_campaign=plugin&utm_content=tra

[2015-08-06 09:26] davidparsson opened #165 "Automatic font size and column count adjustment?"
We have our view filters configured so that the number of jobs displayed varies a lot. When all builds are stable we show all of our roughly 30 builds, but if for example one build fails we only show that build. Since we display our build status on wall mounted TVs, when something fails we want the information on the broken builds to be as easily seen, with fewer columns and bigger text.

Have you

[2015-08-06 09:34] jan-molak commented on #164
That's a cool idea, I like it :)

[2015-08-13 11:36] davidparsson opened #166 "Infinite reloading when accessing a Build Monitor view via custom domain"
Consider a Jenkins instance which is accessible on two different URLs:
- One that is accessible both publicly on the internet and on the same network as the Jenkins server, `https://jenkins.acme.com/`. Note: `https`.
- One that is only accessible from the local network, `http://jenkins/`. Note: `http`.

The Jenkins URL in Jenkins' settings is configured to be `https://jenkins.acme.com/`.

If acces

[2015-08-19 15:13] davidparsson opened #167 "Acceptance tests are failing: View modifications are not saved"
I'm about to start working on a pull request for #135, but all of the acceptance tests are failing for me. The cause of the failures seems to be that view modifications executed in `CreateBuildMonitorView.executeUsing()` are never saved.

My guess is that all of the tests are making the browser navigate to the view in question (using `buildMonitorView("View Name")`) before the "save configuration

[2015-08-20 08:30] davidparsson commented on #167
Selenium of course already waits for page loading in `click()` and `submit()` calls, so waiting for URL change as stated above should not be needed. I'm guessing that Selenium is missing that `click(ConfigureBuildMonitor.screen().OK())` is submitting a form, since that's done in JavaScript. Replacing the click call with `submit(ConfigureBuildMonitor.screen().OK())` seems to do the trick.

[2015-08-20 09:05] davidparsson commented on #167
Fixing this revealed another timing issue in `BehaviourWithBuildFailureAnalyserTest.displays_potential_failure_cause_when_it_is_known()`. It seems like the assertion on the Build Monitor view sometimes is done before the `example-acceptance` job has finished.

[2015-08-20 10:19] davidparsson commented on #135
I'm about to start working on a pull request for this. My idea is to provide a text box where custom CSS can be entered. I'll place this on Jenkins' Configure System page, or possibly on a separate page to be found on the Manage Jenkins page.

@jan-molak, what are your thoughts on this approach? Assuming that my future changes are acceptable, what are the chances that they will be merged and publi

[2015-08-22 19:30] patrickdepinguin commented on #151
Kind reminder...

[2015-08-22 21:01] jan-molak commented on #151
Apologies for not responding earlier, @patrickdepinguin. I was a bit busy with my other open source projects (such as the [release candidate](http://smartcodeltd.co.uk/release-candidate-maven-plugin/) plugin for maven, which Build Monitor will start using soon as well).

I agree with your point on Jenkins documentation - the approach I usually take in this case is to look under the hood of other J

[2015-08-23 19:50] #167 closed

[2015-08-23 21:18] jan-molak commented on #165
Hi @davidparsson, yes, I've been thinking about how to approach this for quite some time now, but am not sure what the best solution is yet.

My initial thoughts on this matter:
* the height of the font should ideally be a percentage of the total height of the container(the JobView panel)
* as the length of the job name could exceed the width of its container, the name should probably be trimmed a

[2015-08-23 23:16] davidparsson commented on #165
@jan-molak, I've looked into something like fittext for this before, and while it did a good job making all job names visible, it also made a quite messy impression since it gave every job a different font size. It may still be the best option around, but I don't think it's perfect.

Another option might be to somehow calculate the font size based on the number of jobs visible, and allow users to

[2015-08-24 13:32] AmrutaM opened #170 "Reporting: build-failure-analyzer-plugin, need to know unit test case broken with each commit"
Hi,
I was checking CI tool which can be helpful to me to do automatic analysis from the build and can tell me test cases are broken due to which code commit.

I have tried to use build-failure-analyzer-plugin: added regex patterns but seems that is not sufficient as i need to filter with each new commit what are the new broken UTs.  As there is a possiblity where let's say with revision no: 1, two

[2015-08-25 14:13] davidparsson commented on #161
#166 may be remotely related

[2015-08-29 18:15] #97 closed

[2015-08-30 11:28] #90 closed

[2015-08-30 14:50] jan-molak commented on #155
Closing as duplicate of #130

[2015-08-30 14:50] #155 closed

[2015-08-31 15:49] coosminus opened #171 "BM view does not show any jobs"
hi, I just installed the plugin in Jenkins 1.609.2. I created a view, selected a few jobs and save, but nothing is shown. Any ideas?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26333267-bm-view-does-not-show-any-jobs?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2015-08-31 18:37] jan-molak commented on #171
Hi there, @coosminus! Could you please provide some additional details to help me diagnose the issue:
- which version of Build Monitor are you using?
- what types of jobs did you select to be displayed? (freestyle, maven, workflow, ...)
- are there any errors in the Jenkins log?
- I'm also not sure what you mean by "nothing is shown"? Would you mind pasting a screenshot?

Best,
J

[2015-09-01 09:58] coosminus commented on #171
Hi Jan,

I did some more testing and found out that there is only one job that when I select it the plugin does not show any jobs (just the empty grey background, see attachment). If I remove this job then plugin works just fine.
![image](https://cloud.githubusercontent.com/assets/14057692/9601158/2420c08c-50a0-11e5-84ac-4ad6e1835bd2.png)

The "problematic" job is gerrit repo job, but basically is

[2015-09-01 14:24] jan-molak commented on #171
Interesting, thanks for the addtional details. Did you notice any errors in the JavaScript console by any chance?

[2015-09-01 16:59] coosminus commented on #171
Nope unfortunately I don;t see any errors in the JS console.

[2015-09-02 09:26] jan-molak commented on #171
Hmm, that's quite bizarre.. And you're sure that the JS console is enabled before you go to the build monitor screen so that no errors get lost? Have you tried enabling the console and refreshing the page? This should help catch any potential errors.

Also, if even when doing the above no errors show up it might be worth looking at the response produced by the
`https://your-jenkins-instance/jenkin

[2015-09-03 12:41] coosminus commented on #171
Remote Address:10.124.9.221:443
Request URL:https://<<jenkins>>/$stapler/bound/fc21e3f5-cac1-4b4c-8bb0-45d6c2a2c153/fetchJobViews
Request Method:POST
Status Code:504 Gateway Time-out
Response Headers
view source
Connection:keep-alive
Content-Length:584
Content-Type:text/html
Date:Thu, 03 Sep 2015 12:32:26 GMT
Server:nginx/1.6.2
Request Headers
view source
.crumb:ec2f0ff8-eb52-44da-9348-070e2ffe095

[2015-09-09 23:26] bigmyx opened #173 "How to modify the polling interval ?"
Hello,
I have noticed the Monitor polling the Jenkins every second.
Can I configure this polling interval ?
If yes - now ?
Thanks !

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26572665-how-to-modify-the-polling-interval?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-09-11 10:37] DanEngelbrecht opened #174 "Add support for displaying parallel job execution"
Very happy with the first look at you build monitor.

However, in our setup we run jobs in parallel with different parameters. Currently the build monitor just presents the latest started build and any feedback of the first running build is lost.

It would be awesome if parallel builds was detected and presented inside a "block", perhaps splitting it vertically?
##

<bountysource-plugin>

---
Want

[2015-09-16 10:40] boughtonp commented on #110
Using the XFrame Filter Plugin is not enough to make Build Monitor embeddable.

It attempts to load the page (the background and logo appears), but then it just starts flashing and reloading, the console filling with:

	POST http://<intranet>/$stapler/bound/<uuid>/fetchJobViews 404 (Not Found)
	XHR finished loading: POST "http://<intranet>/$stapler/bound/<uuid>/fetchJobViews".
	XHR failed loading:

[2015-09-16 10:43] boughtonp commented on #110
Seems to be related to #166

[2015-09-20 20:19] jan-molak commented on #173
Hi there, @bigmyx!

Build Monitor polls Jenkins [once every five seconds](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/c59fc30777767887f4af443a123c65ac9489ed81/src/main/webapp/scripts/controllers.js#L13) and this is currently not configurable. Is there any particular reason why you think it should poll Jenkins less/more often?

Best,
J

[2015-09-22 09:53] erikhakansson commented on #174
This would be very nice.

[2015-09-25 14:02] paurullan commented on #54
We are using some raspberry pi to display the view and same thing: configuring via URL params would be incredibly useful.

[2015-09-28 13:26] apfelfabrik commented on #54
Hey, I would love this feature as well, we have the build monitor set up on a Chromecast with greenscreen (https://github.com/groupon/greenscreen), so there is no way we can set those values in cookies. Any chance this would make it in if I sit down to implement it?

[2015-09-28 13:30] apfelfabrik opened #175 "Configurable overscan compensation."
When using this monitor on a couple of big screens w/ Chromecasts, there is an overscan issue w/ some of the TVs, cutting off the corners of the picture. For a project that performs so well on big screens it would be really great if there was an overscan compensation, just like the configurable font, perhaps like a slider up to 5%?

<bountysource-plugin>
---
Want to back this issue? **[Post a boun

[2015-09-28 22:21] jan-molak commented on #54
Hey @apfelfabrik - sure, I like the idea so if you'd like to chip in with a pull request it's highly likely to make it in!

[2015-09-28 22:23] jan-molak commented on #175
Sounds like a cool idea and it seems like you already have implementation in mind! Maybe a pull request? :smiley:

[2015-09-30 12:18] Dudssource commented on #171
Hi, I had the same issue when monitoring a job which was building in a slave machine, but in my case the problem was with the "View Job Filters" plugin. When I switched to the default "Job Filters" configuration my problem was gone.
I hope this helps.

[2015-10-13 10:45] SmokyNight opened #176 "Plugin does not work in IE"
When I open dashboard in IE9 I can see only background image and no data there. Note, that this is not permission problem(different message appears, if you lack permission to view this page).
Environment:
Windows server
Jenkins 1.576
Plugin version: 1.6+build.140
IE9

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27371275-plugin-doe

[2015-10-14 11:23] jan-molak commented on #176
Hi there @SmokyNight, please note that IE9 does not support CSS3 flexbox, which the Build Monitor requires as explained in the [readme file](https://github.com/jan-molak/jenkins-build-monitor-plugin#browser-support---modern-web-browsers-only).

Please consider upgrading your IE to at least version 10 or using any other [modern web browser](http://caniuse.com/#feat=flexbox).

Hope this helps!

[2015-10-14 11:23] #176 closed

[2015-10-15 19:08] schopbaf opened #177 "Create lanes for different projects"
Is it possible to create a lane with jobs for a single project. That way you can arrange the projects horizontally.

Regards,
Ferenc

[2015-10-16 11:00] jan-molak commented on #177
Hey @schopbaf - I'm not sure if I understand what you mean I'm afraid. Could you please give an example?

[2015-10-18 19:59] lpenz commented on #98
+1!

[2015-10-19 09:46] schopbaf commented on #177
Hi Jan

Here is an example of project jobs ordered on a lane:

Best regard
Ferenc
-----------------------------------------------------------------------------------
| projectA - job1 | projectA - job2 | projectA - job3 | projectA - job4 |
-----------------------------------------------------------------------------------
|           projectB - job1                |            projectB - job2

[2015-10-20 09:31] luebbe commented on #175
Isn't overscan normally handled either in the TV configuration or in the graphics driver settings? The second option is surely not possible on chromecasts :-)

[2015-10-20 10:35] luebbe opened #178 "Reporting: Display test results and/or code coverage when the build is done"
Hi folks,

I like the idea of how jenkins build results can be visualized using dashing. For example: https://gist.github.com/akalyaev/6391422.

Would it be possible to display an additional metric when the build is finished? e.g.
- class coverage in %
- line coverage in %
- successful unit tests in %

This could be achieved using a different colour/structure combination than the one used while th

[2015-10-20 10:56] arpitgold commented on #178
+1
It will be a nice feature and a value add too. :+1:

[2015-10-21 11:17] marcosrocha85 commented on #171
Hello, same issue here. I just noticed that the dashboard becomes empty when it's building Java complex systems on Maven. I don't noticed if it turns empty when Maven runs any test suite, but if I am not wrong, this situation appears since when my projects hadn't test suite.

[2015-11-02 11:49] jan-molak commented on #173
Closing the ticket due to inactivity. If this functionality is still needed - please let me know.

[2015-11-02 11:49] #173 closed

[2015-11-02 11:51] jan-molak commented on #177
I like this idea; it will probably take some time to implement though - pull requests welcome!

[2015-11-03 02:07] lpenz commented on #98
I implemented something useful for multijob at #180, even though it is not a box encapsulating other jobs.

[2015-11-04 20:29] astrosuf commented on #178
This would be a really handy feature! instead of a green or red a balance to show some passed some failed with coverage details.

[2015-11-05 13:17] SvendsenMartin opened #181 "Blank Page While Job is running (when using order by status)"
When we use the build monitor plugin and order by the status of jobs, the view breaks whenever a job is running. If we set the view to order by name instead, it works as intended.
We're running
- Build monitor view version 1.6+build.159
- Jenkins version 1.609

We get the following errors in the Jenkins log when we open the view:

[2015-11-05 17:13] jan-molak commented on #181
Interesting, thanks for reporting that, I'll have a look.

[2015-11-05 21:42] #181 closed

[2015-11-05 23:01] jan-molak commented on #171
It's possible that the problem you're seeing is connected with #181 I've [just released](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases/tag/v1.6%2Bbuild.162) a fix for.

Please let me know if the issue still occurs after upgrading to the latest version.

Best,
Jan

[2015-11-05 23:04] jan-molak commented on #181
Many thanks for reporting the issue, @SvendsenMartin. [Build 162](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases/tag/v1.6%2Bbuild.162) should smash this bug.

Best,
Jan

[2015-11-06 19:35] jordan-parmer opened #182 "Build Monitor View Continually Restarts and Throws Console Errors"
When creating a new 'Build Monitor View' (with or without jobs filtered), the page constantly refreshes. I've attached a screenshot of the two console errors I see.

In hudson-bahavior.js on line 2063, the 'if' statement throws the error "isRunAsTest is not defined". Also seeing "YAHOO.widget.Tooltip is not a function".

[code]

This is on build 1.6+build.162.

<img width="1440" alt="screen shot 2

[2015-11-07 20:05] jan-molak commented on #182
Hey @jordan-parmer and thanks for reporting this.

Those are probably two issues you're seeing, not necessarily related to each other:
* the first problem is the JS error - that was caused by one of the JavaScript dependencies (`hudson_behavior.js` script) looking for global variables and not being able to find them. This problem should be resolved in Build Monitor [1.6 build 163](https://github.c

[2015-11-09 09:56] adaubner opened #183 ""Couldn't compile the CSS from LESS sources" if plugin is located on network folder"
When installing the build monitor plugin on my Jenkins system I receive the following error in the log:
[code]

The Jenkins working directory including the plugins is located on a network share, which is accessed by UNC path:
`\[Host]\[Share]\[Folder]\Jenkins\testjenkins\plugins\build-monitor-plugin\less\index.less`
The path is displayed in the error message with only one leading backslash, instea

[2015-11-09 14:29] jordan-parmer commented on #182
Thanks Jan for the quick turnaround! Yes, the new build fixed the first issue.

Here is the request that is failing on the second issue:

POST https://<hostname>/$stapler/bound/d4eb55d0-b945-44b0-8c52-3acc4aa845f3/fetchJobViews

I'll do some traffic analysis to see if I can capture more details. I'll post back later in the day with what I find.

[2015-11-09 14:53] jordan-parmer commented on #182
What's interesting is that this works fine from a Windows machine and gets the 404 on a Mac machine.

[2015-11-09 15:58] jordan-parmer commented on #182
Okay, looks like we've got a security issue on our end. I'm going to close this issue for now. Thanks for all your help!

[2015-11-09 15:58] #182 closed

[2015-11-09 21:28] jan-molak commented on #182
No worries, happy to help!

[2015-11-17 00:26] jan-molak commented on #183
Hey @adaubner and thanks for reporting this. What version of java are you running your Jenkins on?

[2015-11-17 07:10] adaubner commented on #183
Hi Jan.

Since yesterday we are running on Java 8u65.
Before that it was 7u79.

Best regards,

Andreas Daubner
IT/SIS-SYS

Pepperl+Fuchs GmbH
Lilienthalstraße 200
68307 Mannheim
Telefon: +49 621 776-1612

E-Mail: adaubner@de.pepperl-fuchs.com<mailto:adaubner@de.pepperl-fuchs.com>
www.pepperl-fuchs.com<http://www.pepperl-fuchs.com/>

Von: Jan Molak [mailto:notifications@github.com]
Gesendet: Dienst

[2015-11-18 00:27] #183 closed

[2015-11-18 00:57] jan-molak commented on #183
@adaubner - would you like to check if the latest version - [1.6+build.168](https://smartcode-opensource.ci.cloudbees.com/job/jenkins-build-monitor-plugin/168/artifact/target/build-monitor-plugin.hpi)  - resolved the issue for you?

Two things worth noting:
- the fix requires Build Monitor to run on Jenkins 1.598 or later (due to a [bug in Jenkins](http://jenkins-ci.org/changelog#v1.598))
- and Je

[2015-11-18 13:24] adaubner commented on #183
Hi Jan.

Sorry, it´s not working yet:

Nov 18, 2015 2:15:51 PM jenkins.InitReactorRunner$1 onTaskFailed
SEVERE: Failed Initializing plugin build-monitor-plugin
java.lang.IllegalArgumentException: URI has an authority component
       at java.io.File.<init>(Unknown Source)
       at com.smartcodeltd.jenkinsci.plugin.assetbundler.filters.LessCSS.<init>(LessCSS.java:24)
       at com.smartcodeltd.jen

[2015-11-18 22:24] jan-molak commented on #183
Hey Andreas,

Yes, you're correct. The problem is caused by the Java File class not handling the Windows UNC paths correctly. As mentioned in my previous post, Java 7 update 60 fixed this problem, and if you're using Jenkins >= 1.598 it can use that fix.

Many thanks for reporting the second problem, the one with the `authority`. This seems to be caused by a different issue with the File class, an

[2015-11-19 07:47] adaubner commented on #183
Hello Jan.

Good news. The new version works!

Great job.

Best regards,
Andreas

Von: Jan Molak [mailto:notifications@github.com]
Gesendet: Mittwoch, 18. November 2015 23:25
An: jan-molak/jenkins-build-monitor-plugin <jenkins-build-monitor-plugin@noreply.github.com>
Cc: Daubner Andreas <ADaubner@de.pepperl-fuchs.com>
Betreff: Re: [jenkins-build-monitor-plugin] "Couldn't compile the CSS from LESS

[2015-11-19 10:26] jan-molak commented on #183
Excellent! Thanks for your help with testing :-)

[2015-11-21 20:28] #138 closed

[2015-11-21 20:28] #151 closed

[2015-11-22 18:02] antonyj75 commented on #138
Thank you, it is working fine! J

With kind regards,

Antony

Mass production of food is evil.

Foodstuff is best when produced by local farmers.

Want to know why? Watch  <http://documentarylovers.com/film/food-inc/> Food Inc.

From: Jan Molak [mailto:notifications@github.com]
Sent: Sunday, November 22, 2015 1:59 AM
To: jan-molak/jenkins-build-monitor-plugin
Cc: Antony
Subject: Re: [jenkins-build

[2015-11-22 18:25] jan-molak commented on #138
Great, I'm glad to hear that you like this solution :smile:

I'll release the latest version of Build Monitor to Jenkins Update Centre next week, but if you'd like to take it for a spin before that you can always [download it here](https://smartcode-opensource.ci.cloudbees.com/job/jenkins-build-monitor-plugin/171/artifact/target/build-monitor-plugin.hpi).

[2015-11-24 11:17] fredrikand opened #184 "Enable/Disable the fading colors for ongoing jobs"
When using the monitor in our landscape, some seems to think that the fading colors are disturbing. Especially when we have 20+ jobs displayed that run in parallel.
We wish to have the possibility to configure the fading on/off.

Ref:
https://issues.jenkins-ci.org/browse/JENKINS-30406

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2

[2015-11-25 00:20] jivimberg commented on #25
+1
We're using the timols/jenkins-gitlab-merge-request-builder-plugin and it'd be nice to see the description to understand which merge request is being built.

[2015-11-25 15:49] keirlawson opened #185 "Display gravatar's of broken build claimants"
This gives an easy way to quickly visually identify who is looking at a particular build.  If this is considered desirable I may be able to submit a PR to implement.

[2015-11-25 18:02] jivimberg commented on #174
+1

[2015-12-12 23:23] diogoeag commented on #178
+1

I think that number of failed tests could also be interesting. Projects with lots of tests will have very small percentage of failing tests.

[2015-12-22 20:19] 75inchpianist commented on #124
If I were you, I would make a few seperate Monitor views that paginate your 200 + jobs.

Then open each view in a seperate tab.

Then write a script to switch tabs.

If on windows you can use this script that I use, otherwise the same I'm sure can be scripted in linux or whatever:

Set WScript.CreateObject("WScript.Shell")
Do While i=0
  WScript.Sleep(5000)
  WshShell.SendKeys "^{TAB}"
    `Wscrip

[2015-12-23 08:18] drekbour commented on #124
The tab-switcher is useful for switching between different monitoring on a headsup screen (not just a Jenkins server)

@jan-molak Isn't this closable based on the authors comment. Perhaps a cookbook entry somewhere would provide a closure action.

[2015-12-23 23:03] tcollignon opened #187 "Wrong Maven version in development guide"
Développement Guide Maven prerequisite is :
_Maven 3; I'm using 3.0.5 - http://maven.apache.org/_

But actually with this, I can't build the project, due to release-candidate-maven-plugin who need 3.2.5+
Trace is here
[code]

With 3.2.5 it works.

I have try too with 3.3.3 and it doesn't work with JAVA 1.6. This version need 1.7+. So I tried mvn 3.3.3 and java 1.7 but it doesn't work due to #141

[2015-12-23 23:15] tcollignon opened #188 "development guide not mentioned chrome driver"
If we run _mvn clean package_ like development guide said, it will fail if we don't have chrome driver.

To get it easy on mac os x, just add this in the guide :
[code]
Error trace here :
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29371864-development-guide-not-mentioned-chrome-driver?utm_campaign=plugin&utm_content=track

[2015-12-25 17:22] jan-molak commented on #187
Ah, well spotted, many thanks! Corrected :-)

[2015-12-25 17:22] #187 closed

[2015-12-25 17:29] jan-molak commented on #188
Well spotted again! Many thanks @tcollignon, you're a star ;-)

[2015-12-25 17:29] #188 closed

[2015-12-25 18:41] jan-molak commented on #143
Closing for now as Build Monitor now allows for Workflow Projects to be displayed.

[2015-12-25 18:41] #143 closed

[2015-12-25 18:43] jan-molak commented on #171
Closing as this issue should be addressed by [1.6+build.162](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases/tag/v1.6%2Bbuild.162).

[2015-12-25 18:43] #171 closed

[2015-12-26 13:07] tcollignon commented on #188
you're welcome, thanks for your works on this plugin

[2015-12-27 13:20] tcollignon commented on #119
I have submit the "PR2" like you said. Tell me if it's good for you.

[2015-12-28 21:42] jan-molak commented on #175
Hey @apfelfabrik, is this ticket closable based on the @luebbe's comment?

[2015-12-28 21:43] jan-molak commented on #156
Changed the title so that the feature request is easier for people to find and vote on.

[2015-12-28 21:47] jan-molak commented on #71
Looks like #189 could cover this scenario.

[2015-12-28 22:04] patrickdepinguin commented on #71
Yes looks like it, consider this issue and that pr coupled!

[2015-12-28 22:24] #124 closed

[2015-12-28 22:24] #165 closed

[2015-12-28 23:53] jan-molak commented on #165
After a fair bit of experimentation with [ng-FitText](http://patrickmarabeas.github.io/ng-FitText.js/) I agree with your view that while it makes the job names visible it also makes quite a messy impression as the job names, build numbers etc. can all appear in different sizes.

I've incorporated your suggestion and now:
- the base font size is calculated based on the number of dashboard rows
- th

[2015-12-29 00:05] jan-molak commented on #124
Hey guys,

Please have a look at [the latest build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/lastSuccessfulBuild/artifact/target/build-monitor-plugin.hpi) and let me know your thoughts.

It contains a number of improvements as per your suggestions:
- the base font size is now calculated automatically based on the number of dashboard rows
- the user can still tweak the font s

[2015-12-29 00:17] jan-molak commented on #71
Cool, cheers, will do ;-)

[2016-01-05 20:46] jan-molak commented on #175
Closing based on @luebbe comment; please +1 if it's still needed and I'll reopen it.

[2016-01-05 20:46] #175 closed

[2016-01-07 10:49] davidparsson commented on #165
Thanks @jan-molak! I've taken a look, and it's definitely on the right track, but I have some comments.

First and foremost, I'm not a big fan of the scrollable page feature in its current form. It may hide entire builds without the user knowing it, partially because I see no scrollbar. Also, since we're using this plugin to display status on wall-mounted TV screens, manual scrolling is not a feas

[2016-01-07 21:38] jan-molak commented on #165
Hey @davidparsson and thanks for your feedback!

You're right about the scrollbar, I've just corrected that so it should be visible if it's needed. Please have a look at [the latest build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/lastSuccessfulBuild/artifact/target/build-monitor-plugin.hpi) and let me know your thoughts.
I appreciate that a visible scrollbar doesn't entirely

[2016-01-08 10:44] davidparsson opened #190 "Hide build meta data when it too small to be readable"
With the automatic font size adjustment introduced in #165, the build meta data (culprits, failure reason, ...) quickly becomes too small to be readable. With the default text scale and 4 rows of jobs, it is 6px. When adding more rows, the build number and completion time also becomes unreadable.

In these cases it would be better to hide the unreadable text entirely to save screen space.

<bounty

[2016-01-08 11:10] davidparsson opened #191 "Automatic column count"
It would be nice if the column count could be automatically decided based on the number of displayed jobs, similar to the automatic font size adjustment introduced in #165. The number of columns should be able to change when the number of jobs changes.

I think the configuration should be modified to somehow control a desired ratio between the number of rows and columns instead of just the number

[2016-01-08 11:28] davidparsson commented on #165
Done! I'm glad to be able to contribute.

[2016-01-11 09:59] soeren-lubitz commented on #190
same here... please fix this soon.

[2016-01-11 11:08] jan-molak commented on #190
Thanks for the feedback, I'm planning to address it this week.

[2016-01-11 13:11] soeren-lubitz commented on #190
Also with this Update our Build Monitor that is run with a Raspberry Pi and a Chrome Browser overlays the progress over the job title, which makes the monitor unusable.

(see https://www.evernote.com/l/AH3QO7H_DV9E3oagQTs69u3W25g1bLTEwlQ)

[2016-01-11 18:00] jan-molak commented on #190
Thanks @soeren-lubitz, would you mind raising a separate ticket for the Chromium issue please?

[2016-01-11 18:37] rosstracy commented on #190
Same here,  Showing almost 30 jobs across 2 tabs, but the culprits info is unreadable, regardless of columns and font size that we set.  With the job names also recursing folder names, it becomes a catch-22 for resizing.

[2016-01-11 20:43] jan-molak opened #192 "Chromium 22 on Raspberry Pi: Progress bar overlays the project name"
Raised by @soeren-lubitz in #190:

-------------------------------------

![skitch](https://cloud.githubusercontent.com/assets/1089173/12245921/69676554-b8a3-11e5-9729-f6c6d97a89e1.jpg)

--------------------------------------

**Notes:**
* https://developers.google.com/web/updates/2012/09/Stacking-Changes-Coming-to-position-fixed-elements
* http://stackoverflow.com/questions/13019155/z-index-chrom

[2016-01-11 22:55] #190 closed

[2016-01-11 22:55] #192 closed

[2016-01-11 23:02] jan-molak commented on #184
Thanks @fredrikand, that's a good idea. I've promoted it to [the backlog](https://waffle.io/jan-molak/jenkins-build-monitor-plugin).

[2016-01-11 23:32] jan-molak commented on #192
@soeren-lubitz, The issue you noticed should be fixed in the [latest build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/lastSuccessfulBuild/artifact/target/build-monitor-plugin.hpi). Please have a look and let me know your thoughts!

Best,
Jan

[2016-01-11 23:35] jan-molak commented on #190
The issue should be fixed in the [latest build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/lastSuccessfulBuild/artifact/target/build-monitor-plugin.hpi). Please have a look and let me know your thoughts!

The text proportions might still require more tweaking, so I'm looking forward to your feedback guys :smile:

Best,
Jan

[2016-01-11 23:38] jan-molak commented on #190
And to address your point @davidparsson, what I think we could do is to have a "detail level" configuration setting - if set to "low" only the job name would be displayed, "medium" - job name + build number/time, "high" - job name, build number and time, culprits, identified failures, claimants etc.
Thoughts?

[2016-01-12 08:12] soeren-lubitz opened #193 "Progress overlays job titles on older browser"
Our Build Monitor that is run with a Raspberry Pi and a Chromium Browser (Version 22.0.1.229.94 Built on Debian 7.0, running Debian 7.8 ) overlays the progress over the job title, which makes the monitor unusable.

(see https://www.evernote.com/l/AH3QO7H_DV9E3oagQTs69u3W25g1bLTEwlQ)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/297

[2016-01-12 08:13] soeren-lubitz commented on #193
sorry duplicates issue #192

[2016-01-12 08:13] #193 closed

[2016-01-12 08:19] soeren-lubitz commented on #192
Thank you for the quick fix... we will install the latest build and let you know if it fixes our issues.

[2016-01-12 09:37] davidparsson commented on #190
@jan-molak, that might do it, but I would _strongly_ prefer if the detail level could change automatically based on the number of jobs (or similar), and I'll explain why. One could for example allow the user to configure the number of jobs/rows when all details should be visible/hidden.

We use the View Job Filters plugin to configure the jobs four our build monitor views, and it's configured to d

[2016-01-12 10:27] jan-molak commented on #192
Excellent, looking forward to hearing from you.

J

[2016-01-12 10:30] jan-molak commented on #190
@davidparsson gotcha. So we'd have "low/medium/high/auto"? Sounds like a good idea.
Would you mind raising a ticket for that? That would be of great help, thanks!

J

[2016-01-12 13:45] davidparsson opened #194 "Add a Detail level configuration setting"
Setting values:
- `low`: only the job name would be displayed
- `medium`: display job name + build number/time
- `high`: display everything
- `auto`: automatically select low/medium/high based on the number of jobs/rows and possibly also the font size

[2016-01-12 13:47] davidparsson commented on #190
@jan-molak, sure! See #194.

[2016-01-12 20:03] jan-molak commented on #194
Cool, I like this idea. I think the first pass will be "low/medium/high" just to get an MVP out of the door, then we can think about how to do the "auto".

[2016-01-13 12:30] ipsi opened #195 "Ability to change the default settings"
We're using this page in a screensaver, and therefore we don't have the ability to click on the cogwheel icon to change how the page is displayed (all we can do is log in via basic auth).

As such, it would be incredibly handy if we could change the default settings through the frontend somehow, so that our screensaver could use those instead of the current defaults.

<bountysource-plugin>
---
Wan

[2016-01-13 16:38] juwi commented on #192
Hi,
just wanted to let you know, that the quick fix works.
Thanks!

[2016-01-13 17:01] jan-molak commented on #192
Awesome, thanks for letting me know :-)

[2016-01-13 17:08] soeren-lubitz commented on #192
thanks @juwi

[2016-01-13 17:38] jan-molak commented on #195
Haha, that's a cool idea! :smile:
Would the approach described in #54 solve the problem?

[2016-01-14 16:22] ipsi commented on #195
Yep, that would solve it too, and probably in a slightly better fashion.

[2016-01-15 01:08] jan-molak commented on #195
Cool, cheers. I'll close this ticket then and if you could +1 #54 that would be great, thanks!

[2016-01-15 01:08] #195 closed

[2016-01-15 09:24] ipsi commented on #54
I'd also appreciate this - we use a Screensaver on OSX to display the page, and that doesn't allow us to click on anything... In particular, we use [WebViewScreensaver](https://github.com/liquidx/webviewscreensaver). This provides us with a display of the information that we need without compromising security (the screensaver is configured to ask for a password).

[2016-01-18 09:53] coosminus commented on #165
We installed the latest version of the plugin and found out that now the scroll bar is displayed for our set-up, which of course pushed down the jobs that did not fit in the screen. Before was better cause we were able to manually adjust the font size to match the screen size.
BTW: how do you define "comfortably fits the screen"?

[2016-01-18 14:54] jan-molak commented on #165
Hey @coosminus, automatic adjustment of the font size is quite a tricky subject because you have to cater for scenarios where people have relatively few jobs dislpayed (10-20) as well as when they have loads (300-400 for instance).

Here's how the font size is [calculated](https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/14ad61aa52c78158861706f50d51fdc9bd9b7a9c/src/main/webapp/script

[2016-01-19 07:38] dimkin-eu commented on #185
+1 to this :) "No blame game" gets to new level :D

[2016-01-19 07:41] dimkin-eu commented on #165
now, because of culprits, scrollbar appears.
before 1.8+build.201601112328 version there also were culprits, but, probably in smaller font

[2016-01-19 10:13] coosminus commented on #165
Hi @jan-molak , I got the idea, thanks for detailed explanations.
The thing is now there is no way of disabling automatic adjustment of the font size. Cause if I reduce the size of the font so the scroll bar dissapears, then it will be too small to be able to read it from the distance (e.g. our project room, our case 3-4 meters).
Before I could re-size the text as much as I wanted without the scro

[2016-01-19 10:49] Saucistophe opened #196 "Can't display 7 jobs on 7 columns"
It may be a minor detail, but we here at work we have 7 jobs per branch, and 1-N active branches.
Thus, I'd like to have one row per branch, and one job per column, thus 7 columns.

For now, there's only one active branch, so there's only 7 jobs; switching from 6 to 7 columns stretches the job on two rows (cf. screenshots).

![6 columns](https://cloud.githubusercontent.com/assets/7082839/12416481/

[2016-01-19 10:51] Saucistophe commented on #196
FYI, I use the 1.8+build.201601112328 plugin version, latest Jenkins (1.644), the browser is an up-to-date Chromium.

[2016-01-19 10:52] Saucistophe commented on #177
:+1:  That would be nice and would solve my issue (#196) :)

[2016-01-19 12:22] davidparsson commented on #165
Is it perhaps useful to reduce the margins/paddings/space around the text blocks for each job to make more room for larger font sizes, when the font size is small?

[2016-01-19 13:36] yveshanoulle commented on #165
I don't have many builds on my current project so I have no idea what happens, but I can give input based on something I have seen before.

I have the feeling that all builds now have the same size.

You can play with that.

F ew: green builds can be smaller, only builds that are broken of where the status changed from you can make the current size. that way you have a lot more room to show a lot

[2016-01-19 16:45] jan-molak commented on #165
@coosminus - I see, the trouble is that when people have jobs nested in folders, the displayed name becomes pretty long and with the old UI you might end up in a situtation where you see the name of the folder, but not the name of the job. The same thing goes for jobs that have long names.
The new implementation displays the full name correctly, however the relative font sizes might (and probably

[2016-01-19 16:47] jan-molak commented on #196
Gotcha, what screen resolution do you use?

[2016-01-19 17:00] Saucistophe commented on #196
1920*1200. I've stripped the Chrome tab bar, URL bar and bookmarks.
Anyway, resizing my window yields inconsistent results; sometimes 6 of them fit on the top row, sometimes only 4. I'll probably check your layout algorithm, it's intriguing!

[2016-01-19 17:13] jan-molak commented on #196
Please do! It's a first draft so will definitely need tweaking; PRs are much appreciated ;-)

[2016-01-19 18:10] davidparsson commented on #165
Yeah, it's worth a shot at least.

Regarding the different font sizes for different statuses, I actually think it makes even more sense to hide any stable and competed builds, if there are any unstable or failed builds, to bring full attention to the problems.

I have set this up using the View job filters plugin, but the configuration is quite complicated so including that functionality in this p

[2016-01-20 08:41] nickcodefresh opened #197 "Misconfigured corporate proxies: Regular "Sorry to bother you, but these is a slight issue..." error"
Hi,

At least a couple of times a day I'm getting the attached error, which i have to dismiss. As soon as I dismiss it, everything it working fine again.

![img_20160120_082426](https://cloud.githubusercontent.com/assets/5837418/12443659/4a1c1988-bf51-11e5-98df-d0cdd13cd9be.jpg)

I'm guessing that Jenkins is busy doing something (as the network isn't busy to the best of my knowledge, and Jenkins d

[2016-01-20 10:13] jan-molak commented on #197
Hey Nick,

I'm guessing that you have a proxy in front of Jenkins, is that correct? The `504` is quite possibly caused by the proxy being a bit too impatient with Jenkins, timing out and returning a `504` to your Build Monitor.

If you have a proxy in front of Jenkins, perhaps you'd like to consider increasing the timeout?

Looking forward to hearing from you!
Jan

[2016-01-25 07:31] mrvini opened #198 "Artifact Link on the status page"
Hi,
Thanks for an awesome plugin. Quick suggestion, It would be nice to display some sort of link to latest generated artifacts. This way it would be way easier to distribute this plugin for all project stakeholders without the need for them to understand jenkins and what to click :), Just download the build app, and done.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!]

[2016-01-25 13:16] jan-molak commented on #198
Hey @mrvini and thanks for the feedback! Do you mean that you'd like to see the link to a packaged `*.hpi` file displayed on screen when there's a new release? People would still need to go to manage plugins / advanced and upload it manually (which requires them to know Jenkins and what to click)?
Could you please elaborate some more?

[2016-01-25 16:45] mrvini commented on #198
Hey @jan-molak, thank you for you reply and apology for the confusion.
What I was referring is the following:

Let's say the build job is producing some artifacts, in my case those are apps.

![image](https://cloud.githubusercontent.com/assets/239840/12557465/ba1173b8-c33f-11e5-81c1-bd39ad250936.png)

What I was saying it would be nice to allow project stakeholders download the artifacts without g

[2016-01-28 11:19] jan-molak commented on #198
Ah, gotcha! I thought you meant the Build Monitor artifacts :-) That's a cool idea, I'll be working on adding a "detailed view" to the Build Monitor soon* and it could expose the generated artifacts as well.

\* when client work allows ...

[2016-01-28 15:47] Linkinou commented on #174
+1

[2016-01-31 04:44] ecar opened #199 "Unstable builds use failing text"
Unstable builds show up with the expected color, but unexpectedly show the text: "3 builds have failed".

Instead, I would expect something like, "3 builds have been unstable".

[2016-01-31 17:52] jan-molak commented on #199
Hey @ecar and thanks for your feedback! That's an interesting point. I don't personally use unstable builds [for the reasons I explain here](http://smartcodeltd.co.uk/blog/2014/10/16/communicating-build-status-better-with-jenkins-and-the-build-monitor-plugin/), but let's consider some examples so that I can better understand your use case:

1. A successful build is followed by 3 unstable ones - th

[2016-01-31 17:56] yveshanoulle commented on #199
I agree with Jan.
More details are not needed. When People need it they are encouraged To log On and thus take a first action To fix it...

scrambled by yPhone

[2016-01-31 18:58] ecar commented on #199
We use the “unstable" state strictly to denote compiler warnings. Errors and test failures always result in a “failed" state. In our group, we are slowly working through a backlog of warnings to green up all of our projects. In the mean time, we still have a product to ship.

Yes, this is the option that would help clarify things the most for our usage

It seems the current design for build-monito

[2016-02-05 14:40] jiopaley opened #200 "Build monitor web page becomes unresponsive"
We constantly see messages in the lower left portion of the webpage which indicate the build monitor web page is attempting to connect to google analytics and/or github. After a few hours, the display becomes unresponsive and no longer reflects the jenkins build view. In our environment, the PCs hosting the build monitor views are unable to connect to the internet and it is my guess is that it is

[2016-02-05 18:32] jan-molak commented on #200
Hey @jiopaley and thanks for your feedback. Did disabling the anonymous analytics help?

[2016-02-08 10:38] sourishkumarbanerjee opened #201 "Node based view"
Hi,

First of all, I love this dashboard plugin and have got this on the wall of my project.

But unfortunately, I have below mentioned concerns about this plugin:

  1. I am using "node label parameter" plugin as I have more than 100 hosts to monitor and I have scheduled few common jobs scheduled concurrently on all these hosts/nodes. So what happens currently is if 2 out of 20 builds are failing

[2016-02-09 09:12] jiopaley commented on #200
Hi @jan-molak, thanks for your response. All I can find is the "Help make Build Monitor Better" tick box in the Configure System page in Jenkins. De-selecting this does not seem to fix the issue.

[2016-02-09 15:29] yveshanoulle opened #202 "​Option to show the name of committer who fixed a build."
Showing the name of the person who "probably" broke the build is very handy yet negative. Doing the same for the person who fixed the build is giving a positive credit.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30686945-option-to-show-the-name-of-committer-who-fixed-a-build?utm_campaign=plugin&utm_content=tracker%2F580790&utm_m

[2016-02-09 17:23] jan-molak commented on #200
I see, thanks for reporting this. I'll try to reproduce the issue and will get back to you.
How many jobs do you have displayed on that screen?

[2016-02-10 10:29] jiopaley commented on #200
I have 2 windows PCs showing the build monitor view. The first PC is displaying 12 jobs and 16 jobs on the other. Both show symptoms. It can take a few hours/overnight before the web page actually becomes unresponsive.

[2016-02-11 08:18] Mathiasdm opened #203 "Add option to hide committers since first failure"
We sometimes have a very large amount of code coming in, with a lot of different committers. This makes a job very stretched out, so we can't get all our jobs on one screen anymore.

It would be nice to be able to disable displaying the commiters.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30750259-add-option-to-hide-committers-

[2016-02-15 20:57] mbyrne00 commented on #197
Hi Jan,

Many of us who experience this problem with proxy timeouts are behind a corporate proxy that we have no control over. Would it be possible to have an option to auto-refresh if we get 504 instead of requiring a button press? The problem is intermittent and reloading the page fixes it, so it would be nice if this happened automatically.

Cheers

[2016-02-16 15:16] jan-molak commented on #197
Hey @mbyrne00, yeah, looks like misconfigured corporate proxies are a bit of a nightmare for many devs :-/

It would probably make sense to make a couple of (how many?) calls and should they all come back with `504` - display the error dialog. I'm not sure if refreshing automatically will solve the problem because you'd just end up on a `504` page for your corpo-proxy.

I'm thinking that to solve

[2016-02-16 19:43] mbyrne00 commented on #197
Thanks Jan, that all makes sense. I'll fork and take a look through the code on my train journeys.

[2016-02-17 04:58] jjYBdx4IL opened #204 "Simple enhancement: use different color set for jobs that finished after loading the page"
That would be great so one can see what finished/failed after page load/commit.

[2016-02-18 06:26] avnerht opened #205 "Aborted build are displayed as failed - red. should be gray."
The build status color should reflect the real status - green yellow red or gray.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30970690-aborted-build-are-displayed-as-failed-red-should-be-gray?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2016-02-18 15:06] jan-molak commented on #205
Hi @avnerht and thanks for your feedback. This ticket duplicates #103, would you like to join the conversation there?

[2016-02-18 15:06] #205 closed

[2016-02-18 15:08] jan-molak commented on #204
Hi @jjYBdx4IL, I'm not sure if I understand what you mean? Could you please propose an example?

[2016-02-18 15:10] jan-molak commented on #203
Hey @Mathiasdm and thanks for your feedback. Out of curiosity, how many committers could a build have in your case?

[2016-02-18 15:13] jan-molak commented on #202
Very good point, I like it!

I'll add it to the [backlog](https://waffle.io/jan-molak/jenkins-build-monitor-plugin). PRs are much appreciated too :-)

[2016-02-18 17:46] avnerht commented on #205
Yes please

I must say it is really confusing
and i hope you will fix that
Thanks!

בתאריך יום ה׳, 18 בפבר׳ 2016, 17:07 מאת Jan Molak <notifications@github.com

[2016-02-19 16:08] jan-molak commented on #205
Sorry you found it confusing :disappointed: The logic behind it was that if the build is aborted, it means there's a problem with it and that's why it's reported as "red". It seems like it might be useful to mark it as grey and mark the disabled builds with something, well, other than grey so that the mental mapping between Jenkins and Build Monitor colour schemes remains the same.

[2016-02-20 17:34] avnerht commented on #205
Thanks for understanding our view ☺

Some of our builds aborted automatically in some cases other than failures
or timeout.

Maybe you can let the administrator decide the color-to-state mapping.

This is a good opportunity to say your plugin is very useful and we like it
very much!

Avner Hartuv.

בתאריך יום ו׳, 19 בפבר׳ 2016, 18:09 מאת Jan Molak <notifications@github.com

[2016-02-21 03:35] jjYBdx4IL commented on #204
Simple: the script tracks which job is currently active, and when it detects that it has finished, it somehow renders that job differently, ie. put a marker on it, use a different background color etc.

The purpose is to identify recently failed jobs, where "recent" means "after the monitor view has been opened" (in lack of a better mechanism, I think that's the most intuitive/accessible one for t

[2016-02-21 12:49] Mathiasdm commented on #203
It's possible for us to have 50 committers (though usually it's lower).

[2016-02-23 15:17] r-ilott commented on #103
This definitely needs to be configurable if it gets added. Aborted builds absolutely need to be marked as failures for us!

[2016-02-23 15:23] r-ilott opened #206 "Configurable background per view"
Currently we have the option of just changing the background.jpg but it would be really handy if we could have a configuration option to specify a different background for each view.

[2016-02-23 16:11] jan-molak commented on #206
Interesting idea, I'm curious - could you please let me know what sorts of backgrounds you'd like to be using? Are they to make it easier to distinguish the monitors, make them prettier, add the team/company logo, other?

[2016-02-24 11:44] matthiasvegh commented on #174
+1

[2016-02-24 16:15] r-ilott commented on #206
So we have a large number of jobs running for multiple projects on our Jenkins server which we have already split up using cloudbees folders. In those folders we have a number of different  subfolders building code branches;

root
+--Project
    +---Branch 1
          + Job 1
          + Job 2
          + Job 3
    +---Branch 2
          + Job 1
          + Job 2
+--Project
    +---Branch 1

[2016-02-26 10:09] gabor-cs commented on #103
The best way would be if it's configurable.
We abort the build (nightly test) if the HW resource is not available (booked by someone else). In our case abortion is not a failure.

[2016-02-29 12:53] Mathiasdm commented on #203
We are using 1.8+build.201601112328.

[2016-02-29 18:26] traviscosgrave commented on #166
I am using: Jenkins ver. 1.650 with Build Monitor version 1.8+build.201601112328.

I can confirm similar behaviour. Custom URL on https, and reload loop due to 404 error thrown by the $stapler endpoint.

Looking at what I think are the relative logs, I'm happy to add more if there are other useful locations:

[code]
I get the same result regardless of login status.

The strange thing is that, if I

[2016-02-29 18:29] traviscosgrave commented on #166
I finally had the request I was watching, and the id in the `/$stapler/bound/{id}/fetchJobViews` changed when it started to work. I took about 350 seconds for that to update. I was running the inspection with Chrome's cache disabled. I'll check if there were any intermediate caches that may have continued to return the wrong URL. I haven't found the place where that URL is generated yet, so it's a

[2016-02-29 18:44] traviscosgrave commented on #166
We use nginx to offload ssl and load balance. Caching was turned on for our jenkins server. I guess the request was improperly getting cached by nginx (although this seems to be new behaviour). Disabling the caching on nginx repaired the issue.

[2016-03-05 11:22] mustafau commented on #191
There is a trick to this. Edit cookies manually and set numberOfColumns to 9.

With this hack Build Monitor can fit my 320 jobs on a single screen.

[2016-03-10 10:10] naggie opened #207 "Option to add description under job title"
Visitors often see the dashboard and ask what each project is. As Jenkins does not support spaces in project names, it's necessary to elaborate in the description.

Just a small area for the job description under the title would be nice.

Thanks for the awesome plugin.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31742506-option-t

[2016-03-10 12:48] mustafau commented on #191
![build-monitor-auto](https://cloud.githubusercontent.com/assets/881222/13669892/2888f94e-e6cf-11e5-988a-b9c84871b5b7.jpg)

[2016-03-10 13:03] yveshanoulle commented on #191
wow, so many read builds.

for how many teams is this board?

y

2016-03-10 13:48 GMT+01:00 Mustafa Ulu <notifications@github.com>:

--
2015 was a productive year:

   - *Created an android game with my 13 year old www.anguis.be
   <http://www.anguis.be/>*  <http://www.anguis.be/>
   - co-produced 3 books
      - The ScaledBallGame www.ScaledBallGame.org
      <http://www.scaledballgame.org/>

[2016-03-10 13:41] mustafau commented on #191
This is a new Jenkins installation and hence the red builds. Displaying every project the company has.

[2016-03-10 13:44] yveshanoulle commented on #191
Hi Mustafa,

that does not answer my question.
How many teams are we talking about?

y

2016-03-10 14:41 GMT+01:00 Mustafa Ulu <notifications@github.com>:

--
2015 was a productive year:

   - *Created an android game with my 13 year old www.anguis.be
   <http://www.anguis.be/>*  <http://www.anguis.be/>
   - co-produced 3 books
      - The ScaledBallGame www.ScaledBallGame.org
      <http://www.sc

[2016-03-10 14:22] juperala commented on #178
+1. In many cases having only Green/Red/Yellow build in radiator does not show the full picture.  It would be useful to know either % or amount of tests failed vs. test run. E.g. , "8 / 160 tests failed" or "95% of tests passed."

Alternatively build monitor could include similar view like Jenkins Test Trend Chart showing passed/failed/skipped test statistics from job executions.

[2016-03-10 14:26] mustafau commented on #191
Hi,

There are 5 teams.

[2016-03-16 21:29] clm06 opened #208 "Absolute URL reference to jobs on Other Masters"
We have multiple Masters rather than Master/Slaves and I would like to be able to display a job from a different master by using the URL to the job on the other Master in the plugin (Currently limited to the available known jobs on the Master/Slaves list of jobs.  (i.e. Master will display Monitor plugin with most of the referenced jobs and one job would be referenced on another master to display

[2016-03-16 22:14] jan-molak commented on #207
Hey @naggie and thanks for your feedback! It's great to hear that you're finding Build Monitor useful :-)

Jenkins does support spaces in project names, they're represented as `%20` in the project URL.
Having said that, I like the idea of displaying the project description so will add this to the backlog.

In the meantime - remember that you can always set the project "Display Name" to something m

[2016-03-16 22:25] naggie commented on #207
Hm, ok I assumed it didn't as I couldn't build with spaces. It might be my code then.

Excellent, didn't know that was possible. Thanks!

[2016-03-16 22:25] #207 closed

[2016-03-16 22:57] jan-molak commented on #207
No worries, my pleasure!

[2016-03-17 06:38] shd503 opened #209 "how to Displays the names of people who might be responsible for "breaking the build""
this plugin has the functionality :Displays the names of people who might be responsible for "breaking the build"
how to config and display

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31976386-how-to-displays-the-names-of-people-who-might-be-responsible-for-breaking-the-build?utm_campaign=plugin&utm_content=tracker%2F580790&utm_m

[2016-03-17 20:09] jan-molak commented on #209
Hey @shd503 In order for the Build Monitor to display the potential culprits your project needs to be configured to use a version control system, such as git or svn. When the code change is pushed and the build that's consequently triggered fails, Build Monitor should display the "potential culprits" automatically.

Hope this helps!
Jan

[2016-03-17 20:14] jan-molak commented on #178
I like the Test Trend Chart/Sparkline idea - pull requests are very welcome :-)

[2016-03-24 22:54] tleahygoogle commented on #54
I'd also like this feature (well this one, https://github.com/jan-molak/jenkins-build-monitor-plugin/issues/71, or https://github.com/jan-molak/jenkins-build-monitor-plugin/pull/189 would also work).

Our internal network is very secure so all kiosks machines are locked down. The content for a kiosk is provided by system that captures a periodic snapshots of whatever urls you give it. Cookies will

[2016-03-31 16:32] tommikiviniemi-srs opened #210 "Option to show change list"
We are using the eminent Build Monitor to monitor our CI builds, which get very rapidly taken for a test spin. It'd be great if it was possible to optionally (per project, not per user) display change lists, as designers want to know when a particular feature has landed or is about to land. It'd be nice if both the current build's change list and an upcoming build's change lists could be shown at

[2016-04-01 02:07] tommikiviniemi-srs commented on #210
Actually, I just went ahead and implemented it. Pull request at https://github.com/jan-molak/jenkins-build-monitor-plugin/pull/211

[2016-04-01 02:07] #210 closed

[2016-04-04 12:40] subos2008 commented on #197
+1, this makes the plugin useless. I don't ever see 504s in any other context than this plugin reporting them.

[2016-04-11 07:51] patrykperduta commented on #209
@jan-molak, and how can we turn off display of the "potential culprits"?
I can't see option for that in latest release!

[2016-04-11 07:56] patrykperduta opened #213 "Option to turn off display of potelntial culprits went gone"
Is this possible to turn off display of the "potential culprits"? In [this version](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases?after=v1.6%2Bbuild.149) of jenkins-build-monitor-plugin it was possible, but I can't see this option for that in latest release!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3281546

[2016-04-11 21:44] #113 closed

[2016-04-15 10:34] leemarmara commented on #103
We would definitely appreciate the cancelled builds being differentiated from failed ones.  It would stop my managed jumping up and down asking why no-one has claimed the 'broken' build and stop developers checking to see what the failure cause is.

The Radiator View used to display as grey and that was fine.  I don't mind what colour it is as long as it isn't red.

[2016-04-15 14:32] leemarmara opened #214 "Fit to screen option"
We use the plug in on a large monitor in the office to show the build status.  Since we moved to the most recent version we only get some of our jobs displayed and a scrollbar on the right.

Whilst we have changed font sizes and added columns to manually fit to the screen we can still get issues if the number of jobs displayed on the board changes (we have some jobs that only appear if they have f

[2016-04-17 19:39] jan-molak commented on #214
Hey @leemarmara and thanks for your feedback.

The 'fit to screen' functionality is a bit experimental at the moment and I'm continuously working on improving it.

Could you please let me know:
- how many jobs do you display on one build monitor
- the resolution of your screen
- also a screenshot would be really helpful :-)

All the best,
Jan

[2016-04-17 21:44] #196 closed

[2016-04-18 12:07] leemarmara commented on #214
Hi

Thanks for getting back to me so quickly.

We currently display between 6 and 10 builds (some builds only appear on
the display if they fail).
The resolution is 1920x1080

I will try and get you some shots with the minimum and maximum builds on
them.  I'll have to take a picture rather than get an actual screenshot.

On Sun, Apr 17, 2016 at 8:39 PM, Jan Molak <notifications@github.com> wrote:

[2016-04-18 15:53] jan-molak commented on #214
No worries :) Looking forward to seeing the screenshots!

Best,
Jan

[2016-04-19 07:16] leemarmara commented on #214
Hi Jan

You won't believe this.  I went to get the screenshots and suddenly the fit
to screen appears to be all working.  Sorry for the waste of time.  I'll
grab a picture if it fails again.

Keep up the good work

Lee

On Mon, Apr 18, 2016 at 4:53 PM, Jan Molak <notifications@github.com> wrote:

[2016-04-19 12:29] jan-molak commented on #214
No worries, thanks for letting me know! Automating the font scaling is a tricky thing to do, so please do let me know if you spot any issues :-)

By the way, I've improved the font scaling algorithm a bit in the latest build. If you'd like to play with it before it hits the Jenkins Update Centre and let me know what you think you can [find it here](https://smartcode-opensource.ci.cloudbees.com/job

[2016-04-19 12:29] #214 closed

[2016-04-19 13:41] HexTank commented on #208
+1 Something like https://wiki.jenkins-ci.org/display/JENKINS/Remote+Jobs+View+Plugin but with the beauty of the build monitor plugin. :)

[2016-04-22 16:17] Roystoned opened #215 "No valid crumb in Jenkins 2.0"
Getting this error since Jenkins 2.0
Apr 22, 2016 5:11:53 PM hudson.security.csrf.CrumbFilter doFilter
WARNING: No valid crumb was included in request for /$stapler/bound/***/fetchJobViews. Returning 403.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33236290-no-valid-crumb-in-jenkins-2-0?utm_campaign=plugin&utm_content=tracker%2F5

[2016-04-26 08:49] appienvanveen commented on #215
Got this issue too!

[2016-04-28 20:11] m1001 commented on #197
+1

[2016-04-29 11:45] eduardtomasek commented on #215
Same issue :)

[2016-04-29 22:02] jan-molak commented on #215
Hey guys and thanks for highlighting this issue, I'll have a look and see what can be done.

From what I can tell by looking at the Jenkins Jira, there's been some problems reported around those crumb headers causing trouble in different parts of Jenkins, so maybe something significant has changed that broke backwards compatibility? I'll need to investigate that.

A workaround that's recommended i

[2016-04-30 00:25] #215 closed

[2016-04-30 00:40] jan-molak commented on #215
@Roystoned, @appienvanveen, @eduardtomasek, the [latest build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/37/artifact/build-monitor-plugin/target/build-monitor-plugin.hpi) should resolve this problem.
Please feel free to experiment with it and let me know if it fixes the issue for you.

[2016-05-01 19:52] #197 closed

[2016-05-02 06:55] appienvanveen commented on #215
Fixes it for me! Thanks!

[2016-05-03 03:49] emiller12 commented on #178
+1 Coverage display on completed builds would be great.

[2016-05-03 17:04] jommgoncalves opened #216 "Option to show the execution time of the last build"
Hi there,

I would like to have a new option to show the execution time of the last build. Also it's interesting to have the params used.

Cheers,

[2016-05-03 17:37] michaelDomingues commented on #216
👍

[2016-05-04 11:33] peschmae0 commented on #215
Works perfectly now, thanks for the build

[2016-05-04 12:56] jan-molak commented on #215
Excellent, thanks for confirming!

[2016-05-06 09:21] TomNextSense opened #217 "Settings-Dialog: Slider Interaction with Clicking"
As a user I want to be able to adjust the text scale (and probably also the number of columns) using click events on the slider bar (including the vertical space around the visual line) - additionally to dragging the dot.

Background: We are using a Smart-TV as build monitor. The browser is capable of rendering the build monitor page, but the automated scaling fails. We would need to adjust the te

[2016-05-06 11:18] jan-molak commented on #217
Hey @TomNextSense and thanks for the suggestion! Slider seemed like a good idea at a time, but it's proven a bit problematic and maybe not necessarily the best user experience.

I'm was actually thinking of replacing it with two buttons and a text field showing the current value, so something like that:
`[ - ] [ 7 ] [ + ]`

Would that work better in your case?

Best,
Jan

[2016-05-09 07:08] TomNextSense commented on #217
Hello @jan-molak ,
thank you for your fast response. Anything that can (also) be operated using click events and where the corresponding UI element is not too tiny would be good for us.
(So if the [ + ] [ - ] Buttons are at least the size of the done buttons height, it should be good.
Regarding slider: Yes, also on our Pi the slider is difficult to operate as the JS-performance of the browser on t

[2016-05-09 15:47] gozdal opened #218 "Different color for aborted builds"
If you abort a build, the color displayed is the same as a failed build.
I'd be great if the color was different together with information who aborted a build.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34055059-different-color-for-aborted-builds?utm_campaign=plugin&utm_content=tracker%2F580790&utm_medium=issues&utm_source=githu

[2016-05-10 08:21] TomNextSense commented on #217
Another idea that just came up in a discussion with my colleagues: Would it be possible to allow configuration of the "local parameters" (like number of columns and font size) via get parameters? This would make it unnecessary to rely on the onscreen settings dialog. :+1:

[2016-05-10 14:37] jan-molak commented on #217
Sure, that makes sense as well, there's actually a ticket raised for that: #54 (and pull requests are also welcome! ;-) )

[2016-05-10 15:16] stephaneerard opened #219 "Ability to remove text from names of jobs"
Hello,

I use pattern matching, thus I get repeated texts like

MY-PROJECT-FEATURE-x
MY-PROJECT-FEATURE-y

It takes all the space of the screen.
Having possibility to remove some text would be a great win at little cost.

Here, I'd like to be able to configure the plugin to output :
x
y

Thus configuring it to remove the text "MY-PROJECT-FEATURE-"

Thank you very much !

<bountysource-plugin>
---

[2016-05-10 18:24] jan-molak commented on #219
Hey @stephaneerard and thanks for the suggestion!

Build Monitor uses the "Display name" rather than the "Name" attribute of a job if one is set.
Would that work in your case?

<img width="601" alt="screen shot 2016-05-10 at 19 23 38" src="https://cloud.githubusercontent.com/assets/1089173/15157730/c4aa07ce-16e4-11e6-98c4-fca9dd19af25.png">

[2016-05-16 09:55] diogoeag opened #221 "Authentication to build radiators"
We have a Jenkins setup where everyone needs to be authenticated access jenkins. On build radiators it would be useful that the plugin supports the usage of authentication tokens instead of requiring to login manually.

I'm not 100% sure if this is something that can be fixed at the plugin level, but the normal usecase for the usage of the plugin makes that requirement more important.

It would be

[2016-05-19 12:47] Elvaron opened #222 "Version control descriptions"
It would be great if we had some options to set a description under the job name based on SCM.
For example, the current/most recent git branch or SVN revision or such.

As an alternative, if the plugin rendered a per-job environment variable or such that can be set through the build itself, we could completely customize the description.

<bountysource-plugin>
---
Want to back this issue? **[Post a

[2016-05-19 15:32] pgrm commented on #215
Hey, I've just set up jenkins 2.5 on windows and am experiencing the same (or a very similar) issue as described in https://issues.jenkins-ci.org/browse/JENKINS-12875 This is what I see on *Console Output* of a running job:

    HTTP ERROR 403

    Problem accessing /"SOME PATH"/logText/progressiveHtml. Reason:

        No valid crumb was included in the request
    Powered by Jetty://

When I cli

[2016-05-20 13:49] TinuCH1976 opened #223 "different views"
hello out there,

why has v1.9 another view than v1.6? I'm working with iFrames to display different machines.

so at the moment I always use the 1.6+build.164 instead of 1.9+build.201605021413 (reason see attached image)

on v1.9 I have to scale text to 2 that I can nearly read the text, but I have to scroll
on v1.6 i have to scale text to 0.3 to fit the bars in the frame and no scroll

possible

[2016-05-23 21:17] Luke081515 opened #224 "Color-blind-mode: Displays not always the right background"
* Create a build
* Fail the build once
* Run the build now:
The field is now blinking, and it is red, but there is not the right color at the backgroud which a not blinking red field has.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34506512-color-blind-mode-displays-not-always-the-right-background?utm_campaign=plugin&utm_content=

[2016-05-26 15:44] Bischoff opened #225 "Feature request: be able to see something else than latest build"
Hi Jan,

We enjoy the Build monitor plugin for Jenkins. However, we have a need that does not seem to be covered (or we don't know how to do :-) ).

We would like to be able to view only builds selected by some string parameter (for example: builds related to a given product).

"View jobs filter" seems to be able to select only jobs, not builds. So far, we always see latest build of each selected

[2016-06-02 14:11] jalanga commented on #178
+1

[2016-06-02 14:12] DSBalaban commented on #178
Agreed. It would be awesome to have this. +1

[2016-06-03 11:29] TobiX commented on #166
Maybe add

    <st:setHeader name="Expires" value="0" />
    <st:setHeader name="Cache-Control" value="no-cache,no-store,must-revalidate" />

to the index.jelly? It seems that is the default for all other Jenkins pages:

https://github.com/jenkinsci/jenkins/blob/20cb8fdde819ab6a00140f6c987bb9dddaff7483/core/src/main/resources/lib/layout/html.jelly#L56

[2016-06-03 16:33] Alexhha opened #226 "How to customize theme"
Hello is it possible to change color for build number? I have tried add the following code

[code]

but in the [result ](http://i.imgur.com/whV4KYS.png) I got not what I expected

How can I make build name more yellow?

Thanks in advance

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34842503-how-to-customize-theme?utm_campaign=plug

[2016-06-05 15:30] jan-molak commented on #215
Hey @pgrm,

The reason why Build Monitor is mentioned in [JENKINS-12875](https://issues.jenkins-ci.org/browse/JENKINS-12875) is because it was affected by a change introduced in Jenkins 2.0.
The change in question (described on that ticket) improves Jenkins' cooperation with Nginx, but has a side effect on some plugins including the Build Monitor (those plugins have made an incorrect assumption th

[2016-06-05 15:54] #219 closed

[2016-06-05 21:27] #25 closed

[2016-06-05 21:50] #209 closed

[2016-06-05 22:07] jan-molak commented on #223
Ha! Embedded mode is a use case I haven't anticipated for :-)

OK, so there's a couple of things at play here:

- With the introduction of version 1.9, the default font size is calculated based on the size of the viewport (which should make sense as Build Monitor is designed to be displayed on large screens) - because of that, the size of the iframe affects the size of the viewport so you need to

[2016-06-05 22:10] jan-molak commented on #225
Hey guys and thanks for your feedback :-) It's great to hear that you find Build Monitor useful!

Could you please give me an example of what you mean by "builds related to a given product"?

Usually in Jenkins "products" are represented as "jobs", and each "build" represent an execution of some automated process related to that "job".

All the best,
Jan

[2016-06-05 22:34] #224 closed

[2016-06-05 22:44] jan-molak commented on #224
Hey @Luke081515, thanks for pointing this out! The latest build should resolve the problem. Looking forward to hearing your thoughts.

Best,
Jan

[2016-06-06 06:00] jalessio commented on #215
For anyone getting a 404 on the link to "the latest build" linked above by @jan-molak it appears that you just need to link to an even newer build...

Follow this link, then click on the builds on the left and find the latest "artifacts":
https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/

For example, as of now, the latest build artifact resides here:
https://smartcode-opensource.ci

[2016-06-06 09:31] jan-molak commented on #215
Thanks for pointing this out, @jalessio! I've updated the link 👍
The latest build is now also available on Jenkins Update Center and [here you can find the changelog](https://bit.ly/JBMReleases)

[2016-06-06 11:21] xam7247 opened #227 "Persist UI configuration"
Jan, its really a great plugin to simplify workflow view.

It would really help if we could persist the UI configuration (say: a default configuration), which shows up consistently same on all machines, and if user needs a custom one he can override it for a particular screen. Currently since this is stored in cookies, each member in the team needs to adjust their views + each time we clear cookie

[2016-06-06 15:59] Luke081515 commented on #224
@jan-molak I checked it out, it works now as expected. Thank you for your fix.
Best,
Luke

[2016-06-06 17:37] jan-molak commented on #224
Perfect, thanks for your help! 😄

[2016-06-07 08:37] Elvaron commented on #222
Almost perfect. Repeated use of task doesn't produce new line :smile:
Thanks a lot for working on this :+1:

![builddescription](https://cloud.githubusercontent.com/assets/2558087/15851102/b325bad0-2c9b-11e6-8c1d-961adb17e8f4.png)

[2016-06-07 09:36] jan-molak commented on #222
Haha, cool, thanks for your feedback! 😄 What's the configuration of your build description setter for the "Release Pipeline" job?

[2016-06-07 09:49] Elvaron commented on #222
The first one sets it to _${BuildBranch}_, i.e. the git branch used for the build. Our version number scheme is MajorProductVersion.MinorProductVersion.WebUpdateVersion.JenkinsBuildNumber, so the branches only have 3 numbers.

After one of the initial tasks has run through, the fourth number has been determined, written to a props file, environment injected into the _${FinalBuild}_ variable. And t

[2016-06-07 18:10] arpit-nagar opened #228 "Show number of Passed / Failed test scenario"
Hi @jan-molak ,
I installed this plugin and displaying jobs dashboard with this plugin.
I also installed Build Failure Analyzer  and claim Plugin. As it explains at [FAQ](https://github.com/jan-molak/jenkins-build-monitor-plugin/wiki/FAQ#how-do-i-know-what-tests-failed-the-build).
I want to show **Total: 143, Errors: 0, Failed: 0, Skipped: 0** which was in my build output
![13](https://cloud.githu

[2016-06-10 17:16] arpit-nagar commented on #228
Hi @jan-molak,
Any update on this?

[2016-06-12 10:13] jan-molak commented on #228
Hey @arpit-nagar, looks like #148 should resolve the issue you describe (and close #170 too).
I'll merge #148 in and add some acceptance tests to demonstrate the functionality.

[2016-06-12 14:18] #170 closed

[2016-06-12 14:18] #228 closed

[2016-06-12 15:06] arpit-nagar commented on #228
Thanks @jan-molak, :+1:
Waiting for the release.

[2016-06-13 13:07] jgrant216 commented on #227
I've been using this plugin in "My Views" for quite a while, but finally created a view for everyone to use.  I was surprised that they did not get the same view configuration (columns/text size) as I had set.

Definitely interested in a default either at the job level or, worst case, global Jenkins configuration level as asking everyone to set these will reduce the likelihood of their using the v

[2016-06-13 14:12] jan-molak commented on #227
Hey guys and thanks for your great feedback and ideas! I'm currently contemplating taking one of the below approaches:
- adding an option to "propagate the current configuration to all displays", and persisting it on Jenkins
- adding an option to "generate a URL" that contains the configuration as URL parameters

I'm leaning more towards the second option as it, opposed to the first one, can't lea

[2016-06-13 18:58] arpit-nagar commented on #228
Hi @jan-molak ,
I have upgraded to latest plugin but still getting the same title.
How to setup description as you shown in your example?
Also is it possible to show html text as rendered html as shown in USG-Common?
![capture](https://cloud.githubusercontent.com/assets/16220515/16019375/428e96cc-31c6-11e6-89aa-5b291e825029.JPG)

[2016-06-13 19:10] jan-molak commented on #228
Hey @arpit-nagar, did you have a chance to have a look at the example in ["Displaying the number of failed tests"](https://bitly.com/JBMSerenity) acceptance test?

---

There are three fields you can populate when defining a "failure cause": the name, the description and the comment. The description field handles placeholders such as `${1,2}`, which, as per the [Build Failure Analyzer documentatio

[2016-06-14 13:46] jgrant216 commented on #227
Unfortunately, a link will not work for those of us switching to this view from another view using either the tabbed or dropdown list of views.  Your proposed solution would work for those entering the view via a link.

I still prefer the a shared configuration either defined at the view configuration level or even at the Global Jenkins configuration level.  Of course, the Global Configuration lev

[2016-06-14 14:20] jan-molak commented on #227
@jgrant216 - I'm sorry to hear that; Which version of Build Monitor are you guys using?

[2016-06-14 23:20] aliciabauman commented on #218
+1 for this, this is an issue that I get asked about by my team almost daily.

[2016-06-15 08:48] akaihola opened #230 "Build Monitor eats CPU"
I have a dashboard of 44 build jobs which I like to keep open in Firefox. Unfortunately this really eats my laptop battery.

Using the new `about:performance` analyzer in Firefox 47, I can see that it's indeed the Build Monitor tab which is consuming cycles:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35177083-build-monito

[2016-06-15 09:30] diogoeag commented on #170
Anyone got a way to ake this working on multi-module projects? It would be interesting to get this info from Xunit plugin (https://wiki.jenkins-ci.org/display/JENKINS/xUnit+Plugin)

[2016-06-15 12:39] jan-molak commented on #170
I'm trying to limit the amount of data displayed on the dashboard, but agree that showing some fancy charts and trends over time would be helpful. Maybe we should add a detailed view for each job where all this stuff could live?

[2016-06-15 12:40] jan-molak commented on #230
Thanks @akaihola, it could be the `ng-repeat` directive. I'll look into that when I have a moment (PRs welcome of course!!)

[2016-06-15 12:43] jan-molak commented on #218
Fair enough :-) My only reservation is that disabled builds are displayed as grey. We could make aborted builds grey and disabled ones ..... uhm, maybe the colour of the last build, but dimmed? or dark grey?

Thoughts?

[2016-06-15 13:00] jgrant216 commented on #227
We upgrade all plugins monthly, so we are not very far behind at this point.  Our current version is 1.9+build.201605021413 and I see there is a new version available, 1.9+build.201606131328, which we will be installing in the next week or so.

Some of our job names are quite lengthy, so maybe some scaling is being applied as a result of that.

As you mentioned, the initial font size was adjusted

[2016-06-15 15:20] diogoeag commented on #170
Probably I didn't express myself correctly. The information that I would like to see is the same, but you can't get that on a multi-module project with a regex. Imagine a project like jetty (https://github.com/eclipse/jetty.project) if you build the project, it has at least 50 modules in root level. So you will find 50 matches to the string "Tests run: (\d+), Failures: (1d+), Errors: (\d+), Skippe

[2016-06-15 19:39] jan-molak commented on #170
Thanks @diogoeag, I see what you mean. I agree, the build description set using a regex is merely a stopgap on the way to something better :)

The challenge here is that there's a number of other statistics, similar to the number of tests, that people would be interested to see. Those could be: test coverage, checkstyle errors, PMD errors, FindBugs errors and many others.

Given all those, if we d

[2016-06-16 11:47] gozdal commented on #218
@jan-molak brown maybe? gray for disabled, yellow for unstable, red for failed, gray for disabled and brown for aborted. Striped for claimed. Any more colors needed?

[2016-06-16 15:51] aliciabauman commented on #218
I like the idea of making aborted builds grey and disabled ones a dimmed color that represents the previous build's success/failure! Maybe also add a note that says disabled.

[2016-06-16 15:57] #166 closed

[2016-06-16 17:48] arpit-nagar commented on #228
Hi @jan-molak sorry to bother you again but I could not able to setup BFA plugin.
I set description ${1,1} and ${1,2} but I am getting output $1 and $2 respectively.
It may be very basic but I could not able to figure out how to setup.
Can you please help me to setup it properly, My current configurations are:

![capture4](https://cloud.githubusercontent.com/assets/16220515/16127024/54fed016-3418-

[2016-06-17 12:56] jan-molak commented on #228
Hey @arpit-nagar, it looks like you haven't defined the [capturing groups](http://www.regular-expressions.info/refcapture.html)? You'll need the parenthesis around `\d+` in your example.

As you can see in the acceptance test:
<img width="642" alt="screen shot 2016-06-17 at 13 42 23" src="https://cloud.githubusercontent.com/assets/1089173/16150834/8f52dc0c-3491-11e6-831f-e785e46fc623.png">

the re

[2016-06-17 18:28] arpit-nagar commented on #228
Thanks @jan-molak, :+1:
It worked. :smile:

[2016-06-17 20:08] jan-molak commented on #228
Sweet, good job! 😄

[2016-06-21 10:02] Pefou-flo opened #238 "Support rendering of HTML in "description" field"
Hello,

Since the last version of build-monitor, job descriptions were added but in our jenkins instance, job descriptions contains url link to sonar/bitbucket and this isn't properly showed

Would it be possible for this to display only the text or even add an option to hide the description if we don't want it ?

![build-description](https://cloud.githubusercontent.com/assets/16313165/16225600/b6

[2016-07-01 13:44] theproshin opened #241 "Hide job description"
Нi!
Help me, please.
How hide description?
Jobs very many. All dont't show on display.

![image](https://cloud.githubusercontent.com/assets/5551744/16523177/a71813f6-3faa-11e6-9bd3-9d0d765b17b3.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35670873-hide-job-description?utm_campaign=plugin&utm_content=tracker%2F580790&utm_mediu

[2016-07-02 14:50] jan-molak commented on #241
Oh boy! I've never expected job descriptions to have so much stuff in them!! :-) Fair enough and thanks for your feedback. I should be able to look into this over the next two weeks, in the meantime - pull requests are welcome.

Jan

[2016-07-02 14:58] jan-molak commented on #238
Hey @Pefou-flo and thanks for your feedback!

It looks like in the light of your request, as well as #241 it probably makes sense to:
- add an option to hide the descriptions, so people can disable them if they don't need them
- allow the descriptions to render html content unescaped if people like to use it this way, but to avoid potential XSS vulnerabilities, also:
  - and a global config option

[2016-07-03 21:34] Pefou-flo commented on #238
Hey,

Both your ideas sounds awesome :) I did take some time to clone your repo but as of now I didn't have time to try & make an option to disable descriptions so I've revert back to the previous version.

I guess due to xss vulnerabilities, it would be good to at least add the option to allow or disable description (without any html rendering); but if you manage to find enough time to do all you

[2016-07-04 12:57] chenfli opened #242 "Display Code Styling and Unit Test Status as a Badge in each block"
Hi @jan-molak,
I love the dashboard, and I am checking the new Unit Test Status feature you added (#148, #170, #228).

I am looking for code styling as well.

As I see it, is that you will have some minimized Graphs (as you have on the Job Page), with the code style and the Unit Tests.

Is this possible,

Thanks
Chen
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2016-07-05 07:27] ralfwelt opened #243 "Option to switch off display of culprits"
We are using the Build monitor plugin with great success. However, the team members don't like the display of culprits.
IIRC, in the first version I installed there was an option to switch off culprits display.
Unfortunately I cannot find it in the current version.
Do I miss something?
If not, can you point me to the version before this option was removed?

[2016-07-05 07:40] KasperJanssens opened #244 "Question: Does the build monitor plugin visually mark claimed failed tests by default when the claim plugin is activated?"
We make the difference between 'red' builds an 'yellow' builds. Red builds can be claimed with one click and the plugin indicates this visually by striping the build in different reds. Yellow builds need to get all their tests claimed separately it seems, and the build monitor doesn't seem to indicate anything. I don't seem to find any option or switch, am I missing something? Old version of the p

[2016-07-05 23:03] jan-molak commented on #244
Hey @KasperJanssens,

Yes, as long as Jenkins thinks that the build is claimed, Build Monitor will indicate that.

However, on top of having the Claim Plugin installed, you also need to enable a "Post-build action" on each Jenkins job to "Allow broken build claiming".

<img width="1033" alt="screen shot 2016-07-05 at 23 58 45" src="https://cloud.githubusercontent.com/assets/1089173/16602523/c26953

[2016-07-05 23:06] jan-molak commented on #242
Hey @chenfli and thanks for your kind words :-)

I think that some minimalistic sparklines could definitely be useful! Pull requests welcome!

J

[2016-07-05 23:18] jan-molak commented on #243
Hey @ralfwelt, that's great to hear! I'm contemplating making this and other options a bit more configurable, so I'll add your request to the backlog.

Having said that, does your team use the [Claim Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Claim+plugin)?

Claiming a broken build greatly improves the visibility of who's working on fixing the problem and tells everyone looking at your Bu

[2016-07-05 23:19] jan-molak commented on #213
Closing this ticket as there's #243 addressing this request.

[2016-07-05 23:19] #213 closed

[2016-07-06 05:12] ralfwelt commented on #243
Hi Jan,

thanks for your quick reply and adding my request to the backlog.

At least in Germany a lot of engineers will object to displaying the culprits, so please don’t set the priority too low ☺

Also thanks for mentioning the Claim Plugin, I will check it out.

Regards,
Ralf

From: Jan Molak [mailto:notifications@github.com]
Sent: Wednesday, July 06, 2016 1:18 AM
To: jan-molak/jenkins-build-mo

[2016-07-06 07:05] KasperJanssens commented on #244
Hey Jan, thinks for the fast response.  Thing is, this seems to work for 'red' builds but not for 'yellow' ones. It might be a bit debatable whether we use those colour codes correctly or not, but can you confirm  that this should also work for the 'yellow' builds? The example in step by step instructions also seems to work for 'red' builds (the screenshots do, anyway :-)).

[2016-07-07 10:28] dannickmontanede opened #245 "Sorry to bother you, but there is a slight issue ..."
Hello, i run jenkins in container engine and i have the 'No valid crumb' everytime so i tried Build Monitor to fix my issue but no result.

Please help

<img width="1280" alt="capture d ecran 2016-07-07 a 12 22 50" src="https://cloud.githubusercontent.com/assets/16313587/16650337/ea44508a-443d-11e6-91c0-ea58be7e3a7e.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!]

[2016-07-07 14:01] jan-molak commented on #245
Hey @dannickmontanede what version of Jenkins are you on? Some time ago Jenkins changed how it deals with the .crumb header and that might confuse servers such as Nginx if you happen to be using one? See #215

[2016-07-07 14:57] dannickmontanede commented on #245
i use 2.12 version, i've ever seen #215  and try your last build but the problem stay the same and i don't what is this 403 error

[2016-07-07 15:25] jan-molak commented on #245
Is there any caching or load balancing happening between your Jenkins and the browser? If that's the case then the problem might be related to issues #166 and #231, fixed in [this build](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/47/artifact/build-monitor-plugin/target/build-monitor-plugin.hpi). Perhaps you'd like to give that build a try?

[2016-07-07 15:44] dannickmontanede commented on #245
yes you right i used a load balancer, but i added
<img width="799" alt="capture d ecran 2016-07-07 a 17 41 45" src="https://cloud.githubusercontent.com/assets/16313587/16659436/4cfd6316-446a-11e6-966d-3d2aff45c89b.png">
<img width="1280" alt="capture d ecran 2016-07-07 a 17 42 24" src="https://cloud.githubusercontent.com/assets/16313587/16659444/54e515ce-446a-11e6-8c7d-e1d0b3ec676a.png">
<img widt

[2016-07-07 15:45] dannickmontanede commented on #245
i added your build and i've the 403 error for each reload

[2016-07-07 16:18] jan-molak commented on #245
Interesting... This doesn't seem like a problem with Build Monitor, but most likely with some component between Jenkins and the Build Monitor dashboard.

Perhaps this helps you with investigating what's going on:
- whenever a user loads the Build Monitor dashboard for the first time, Jenkins generates a unique token for them, called the `.crumb` (it might be called `Jenkins-Crumb` on [Jenkins 2.x]

[2016-07-08 19:00] CbeckDrive opened #246 "Multibranch Pipelines Don't Show Up!"
Hi!

If you have a project that was created as a multibranch pipeline adding it to the view doesn't actually work. You can enable it, but it won't show up anywhere on the monitor. I assume this is because it's essentially a folder containing a different build for each branch, but it is impossible to select individual branches as well!

Thanks!

[2016-07-13 08:31] fattouchsquall commented on #178
+1

[2016-07-13 23:23] bkosty opened #247 "Display consecutive successes in the same way as fails"
I just installed Build Monitor and am loving it.  I don't know if this is a feature request or a setting I can't seem to find.   Currently, if there are a string of fails it will show "X builds have failed"  Is there a way to show successes in the same way?

[2016-07-14 23:32] dmkamin commented on #170
Hi,

I'm trying to use the Build Failure Analyzer plugin to show the amount of failed test out of executed tests in the build monitor view.
Something like was mentioned above: Test results: 120 passed, 7 failed, +5 failures
I had followed the plugin page and at the moment, I get the exception of failed tests inside the job box on the build monitor view.
How can I parse the tests result and forward

[2016-07-15 22:28] jan-molak commented on #170
Hey Michal, did you have a chance to look at [the acceptance tests](https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/Serenity/)? They explain the process of setting it up step by step (as per the [release notes](https://github.com/jan-molak/jenkins-build-monitor-plugin/releases)). Hopefully the "Displaying The Number Of Failed Tests" should be of help. If it's not - please do let me

[2016-07-15 22:34] jan-molak commented on #247
Hey @bkosty and thanks for your feedback, glad that you found it useful :-)
There's no such option at present, but I like the idea very much! It could act akin to [Seinfeld's Strategy](http://lifehacker.com/281626/jerry-seinfelds-productivity-secret) and add a positive reinforcement twist to Build Monitor 😃

I'll add it to the backlog and will try to get it implemened when I have a moment. Of cour

[2016-07-17 07:43] dmkamin commented on #170
Hey Jan,
Thank you for the details.
I wasn't able to open the 'traditional user guide with acceptance tests' that you had mentioned in the release note, but managed to follow the release note and relevant links in it to get the test failures cause in the build monitor view :)
I still get the 'X builds have failed since ... committed their changes' statement.
DO you know how I can avoid having that

[2016-07-17 17:01] jan-molak commented on #170
Cool, glad that it helped! This feature is not yet configurable, the easiest way to get rid of it is to have a successful build ;-)

[2016-07-20 15:38] george-nelson opened #248 "Configurable Job Names"
**Feature request**: Is there a way to use a use a different name instead of the the job name ?

e.g. if the actual job name is _MyAwesomeVeryLongAPITest_, I want would to change that name to _MyAPITest_ only in dashboard.

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36195270-configurable-job-names?utm_campaign=plugin&utm_

[2016-07-20 20:16] jan-molak commented on #248
Hey @george-nelson, Jenkins supports custom job names so if you set one, Build Monitor will pick it up.

To change the display name go to the configuration page of your Jenkins job and scroll down to the "Advanced Project Settings" section:
<img width="1147" alt="screen shot 2016-07-20 at 21 12 16" src="https://cloud.githubusercontent.com/assets/1089173/17001462/030969e4-4ebf-11e6-837e-ed436f9abe5

[2016-07-20 20:16] #248 closed

[2016-07-21 09:51] ChadiEM opened #249 "Pipeline jobs - Granurality"
Hello. A nice addition would be to show more details about the currently executing stages of a Jenkins 2 pipeline job, instead of just showing the job running.

[2016-07-25 08:18] KasperJanssens commented on #244
@jan-molak , just a small update, the problem seemed to be caused by the fact that we configured the 'Allow build claiming' BEFORE we configured the junit test report publishing. If we configure the order correctly on jenkins then it all works like it should. Something that wasn't very clear to me.

[2016-07-25 10:52] jan-molak commented on #244
@KasperJanssens, ah interesting! Many thanks for the update!

Yes, the build must be recognised as failing by JUnit (or any other plugin that sets the build result to `failure`) before the Claim plugin can mark it as claimable.

Glad you got it resolved!

[2016-07-25 10:52] #244 closed

[2016-07-27 07:37] cialx commented on #70
Hi Jan,
why was this feature removed? We still want to hide culprits, because the workers' council told us we are not allowed to show them on a wall board for everybody to see.
Greetings and thank you for your help, cialx

[2016-07-27 17:35] jan-molak commented on #70
Hey @cialx it was removed because it seemed redundant - when a broken build gets claimed the culprit names are no longer displayed.

Claiming broken builds promotes transparency and encourages taking ownership of the problem. Have you tried using [the Claim plugin](https://wiki.jenkins-ci.org/display/JENKINS/Claim+plugin) perhaps?

Having said that - can you tell me more about the workers' council

[2016-07-27 17:36] jan-molak commented on #249
I agree, indeed it would! I'd be happy to assist with pull requests if anyone would like to pick this one up?

[2016-07-28 06:23] cialx commented on #70
Tyvm for replying so soon!
We want to use as little plugins as possible, but if this is the only way to solve our problem, we will do that. Can broken builds be claimed automatically somehow?
The workers' council criticised that people are blamed publically, especially since our CI wall display is in the hallway for other departments to see. It's not related to data protection (the names of all de

[2016-07-28 08:39] cialx commented on #243
In our department (medium-sized German company) we are using Build Monitor Plugin for a public status monitor, but we (and the workers' counci) don't want to have the names of possible culprits displayed there, not even for the time until someone claimed the broken build.
Without this possibility we cannot use this plugin anymore. It would be great if you wold reconsider adding a local (or, even b

[2016-07-28 18:09] jan-molak commented on #245
Closing as @dannickmontanede and I found out that the problem is not related to Build Monitor but to the Nginx configuration.

[2016-07-28 18:09] #245 closed

[2016-07-28 18:27] jan-molak commented on #243
Thanks for the explanation, @cialx. The point of showing the identifiers of people who might have caused the build to break as well as those who have committed their changes on a broken build was not to publicly blame anyone 😞

It's supposed to serve informational purposes only. This way the rest of the team (or other teams at larger organisations) know who to ask about the problem and offer their

[2016-07-29 07:09] cialx commented on #243
I found out that the problem is not that people are adressed as culprits, but that it's possible to see publicly which person is working on which project. That is a problem since we have a lot of external personnel. In Germany, external workers are not allowed to be involved in internal company matters unrelated to there own work, sometimes they are not even allowed to sit in the same office as th

[2016-07-29 19:36] ChadiEM commented on #202
#250

[2016-07-30 19:11] ChadiEM commented on #243
A suggestion/workaround would be to create mirror jobs of your actual jobs that get triggered automatically and have their status the same as their triggering job via a Groovy postbuild script for example. The mirror jobs in this case will not have any committers in it. What do you think?

[2016-07-30 19:25] jan-molak commented on #243
@ChadiEM that's a good point, although @cialx's argumentation has convinced me.

I'm planning to make the `headline` a bit more configurable. This requires some changes to the Build Monitor domain model, but they should make adding new features, like #250, so much easier.

I'm aiming for a release within the next couple of days so stay tuned 😄